<div class="field">
  <h4 class="ui header m-0">&nbsp; DESIGNATION ID &nbsp; : &nbsp; <span style="color: #f2711c">{{designation?.departmentId}}</span></h4>
  <div class="ui divider"></div>
  <div class="ui one column grid ">
    <div class="row">
      <table class="column">
        <tbody>
        <tr>
          <td><strong>Designation Name</strong></td><td > : </td><td>&nbsp;&nbsp;{{designation?.designation}}</td>
        </tr>
        <tr>
          <td><strong>Department</strong></td><td > : </td><td>&nbsp;&nbsp;{{designation?.department?.deptName}}</td>
        </tr>
        <tr>
          <td><strong>Designation Name In Bangla</strong></td>
          <td > : </td><td>&nbsp;&nbsp;{{designation?.designationnameinbangla}}</td>
        </tr>
        <tr>
          <td><strong>Report To</strong></td>
          <td > : </td><td>&nbsp;&nbsp;{{designation?.reportto}}</td>
        </tr>
        <tr>
          <td ><strong>Description</strong></td><td > : </td><td>&nbsp;&nbsp;{{designation?.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




