<div class="gatepass pt-5" id="gatepass" >
  <table style="margin-bottom: 15px;width: 100%;border-collapse: collapse;">
    <tbody>
    <tr>
      <td colspan="2"
          style="border-left:1px solid black;border-top:1px solid black; padding:15px; text-align: center; font-size: 18px; color: #141180;">
        <strong>Maheen Dizayn Etiket ( BD ) LTD.</strong>
      </td>
      <td rowspan="2"
          style="border-left:1px solid black;border-top:1px solid black; border-right:1px solid black;padding:15px; text-align: center;">
        <strong>Doc. Code: STR/03/013</strong><br>
        Page 1 of 1
      </td>
    </tr>
    <tr>
      <td colspan="2"
          style="border-left:1px solid black;border-top:1px solid black; padding:15px; text-align: center">
        <strong>Title: Gate Pass</strong>
      </td>
    </tr>
    <tr>
      <td
              style="border-left:1px solid black;border-top:1px solid black; border-bottom:1px solid black; padding:15px; text-align: center">
        <strong>Effective Date: 15/12/2014</strong>
      </td>
      <td
              style="border-left:1px solid black;border-top:1px solid black; border-bottom:1px solid black; padding:15px; text-align: center">
        <strong>Revision Status: 00</strong>
      </td>
      <td
              style="border-left:1px solid black;border-top:1px solid black; border-bottom:1px solid black; border-right:1px solid black;padding:15px; text-align: center">
        <strong>Issue No: 01</strong>
      </td>
    </tr>
    </tbody>
  </table>

  <table style="margin-bottom: 12px; font-size: 11px; border: 1px solid black; width: 100%">
    <tr>
      <td style="width: 45%; font-weight: bold; padding: 5px;">Challan No : {{showpagedata[0]?.ChallanNo}}
      </td>
      <td style="width: 10%;"></td>
      <td style="width: 45%; font-weight: bold; padding: 5px;">Challan Date : {{showpagedata[0]?.ChallanDate }}
      </td>
    </tr>
    <tr>
      <td style="width: 45%; font-weight: bold; padding: 5px;">Delivery Party Name : {{showpagedata[0]?.DalivaryParty}}
      </td>
      <td style="width: 10%;"></td>
      <td style="width: 45%; font-weight: bold; padding: 5px;">Order No : {{showpagedata[0]?.WorkOrderNo}}
      </td>
    </tr>
    <tr>
      <td colspan="3" style="width: 45%; font-weight: bold; padding: 5px;">Delivery Party Address :
        {{showpagedata[0]?.PartyAddress}}
      </td>
    </tr>
  </table>

  <table style="margin-bottom: 12px; font-size: 11px; border: 1px solid black; width: 100%; padding: 5px; border-collapse: collapse;">
    <tr>
      <th style="padding: 5px; border-right: 1px solid black; border-bottom: 1px solid black; text-align: center;"> SL </th>
      <th style="padding: 5px; border-right: 1px solid black;border-bottom: 1px solid black; text-align: center; "> Particulars </th>
      <th style="padding: 5px; border-right: 1px solid black; border-bottom: 1px solid black; text-align: center;"> Packets </th>
      <th style="padding: 5px; border-right: 1px solid black; border-bottom: 1px solid black; text-align: center;"> Quantity </th>
      <th style="padding: 5px; border-bottom: 1px solid black; text-align: center;"> Remarks </th>
    </tr>
    <tr>
      <td style="padding: 5px; border-right: 1px solid black; text-align: center;">1</td>
      <td style="padding: 5px; border-right: 1px solid black; text-align: center;">{{showpagedata[0]?.SampleName}}</td>
      <td style="padding: 5px; border-right: 1px solid black; text-align: right;"></td>
      <td style="padding: 5px; border-right: 1px solid black; text-align: right;">{{showpagedata1[0]?.Qty}}</td>
      <td style="padding: 5px;"></td>
    </tr>
  </table>

  <table style="width: 100%; text-align: center; margin-top: 200px">
    <tr>
      <td style="width: 25%;"></td>
      <td style="width: 50%;"></td>
      <td style="width: 25%;"></td>
    </tr>
    <tr style="margin-top: 10px">
      <td style="border-bottom: 2px solid black;padding: 4px">{{showpagedata[0]?.CreatedBy}}</td>
      <td></td>
      <td style="border-bottom: 2px solid black;padding: 4px"></td>
    </tr>
    <tr>
      <td>Prepared  By  </td>
      <td></td>
      <td>Approved By</td>
    </tr>
  </table>
  <table style="border-collapse: collapse; margin-top: 10px; width: 100%;">
    <tr>
      <td style="padding: 5px; font-size: 11px; text-align: center; font-weight: bold;">
        Office : 24 Shantinagar, Dhaka 1217, Bangladesh. Cell +8801711689108 Factory: Khurdukhosh Para, Mijimiji, P.S:
        Siddhirgonj, Dist: Narayangonj, Bangladesh
      </td>
    </tr>
  </table>

</div>
