<form onsubmit="return false;" class="ui small form" #form='ngForm' autocomplete="off">
  <div class="ui segment mt-2">
    <h4 class="ui teal dividing header" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
      <br>
      Add New Supplier Details
    </h4>
    <h4 class="ui teal dividing header" *ngIf="this.currentRoute?.toString()?.includes('edit')">
      <br>
      Edit Supplier Details
    </h4>
    <sui-message class="warning mb-2 mt-2" *ngIf="!supplier.suppliername && !supplier.address">
      <li>
        <strong>Note : </strong>  Fields marked with asterisk <strong>(*) </strong> are mandatory
      </li>
    </sui-message>
    <div class="equal width fields">
      <div class="field required">
        <label>Full Name</label>
        <input required type="text" placeholder="Enter Your Full Name" [(ngModel)]="supplier.suppliername" id="name" name="name">
      </div>
    </div>
    <div class="equal width fields">
      <div class="field ">
        <label>Contact Person</label>
        <input type="text" placeholder="Contact Person" [(ngModel)]="supplier.contactperson" id="Contact_Person" name="Contact_Person"/>
      </div>
      <div class="field required">
        <label>Address</label>
        <input required type="text" placeholder="Your Address" [(ngModel)]="supplier.address" id="Address" name="Address"/>
      </div>
    </div>
    <div class="equal width fields">
      <div class="field required" >
        <label>Phone</label>
        <input required type="text"  placeholder="Phone" [(ngModel)]="supplier.telephone" id="phone" name="phone"/>
      </div>
      <div class="field required">
        <label>Email</label>
        <input required type="text" [(ngModel)]="supplier.email"   id="email" name="email" />
     </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <sui-checkbox  class="" [(ngModel)]="supplier.isforeign" name="foreign">Foreign</sui-checkbox>
      </div>
    </div>
  </div>
  <button class="ui teal medium button my-1 form-group" (click)="patch(form)"  *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    Save
  </button>
  <button class="ui primary medium button my-1" (click)="patch(form)" *ngIf="this.currentRoute?.toString()?.includes('edit')">
    Update
  </button>
</form>
