    <div class="field">
      <h4 class="ui header m-0">&nbsp; Department ID &nbsp; : &nbsp; <span style="color: #f2711c">{{dept?.departmentId}}</span></h4>
      <div class="ui divider"></div>
      <div class="ui one column grid ">
        <div class="row">
          <table class="column">
            <tbody>
            <tr>
              <td><strong>Name</strong></td><td > : </td><td>&nbsp;&nbsp;{{dept?.deptName}}</td>
            </tr>
            <tr>
              <td><strong>Short Name</strong></td>
              <td > : </td><td>&nbsp;&nbsp;{{dept?.deptShortName}}</td>
            </tr>
            <tr>
              <td><strong>Description</strong></td>
              <td > : </td><td>&nbsp;&nbsp;{{dept?.description}}</td>
            </tr>
            <tr>
              <td ><strong>Department Position</strong></td><td > : </td><td>&nbsp;&nbsp;{{dept?.deptPosition}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




