<div class="ui container pt-5">
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" [routerLink]="['pi']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Create PI</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/woven1.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  PI
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['crmReport']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">CRM Report</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/crm_report.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          View  CRM Report
        </div>
      </div>
    </a> 
  </div>
</div>
