
<form onsubmit="return false;" class="ui  form" #form='ngForm'autocomplete="off" (keydown.enter)="$event.preventDefault()">
  <div class="ui segment mt-2">
    <h4 class="ui teal dividing header" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
      <br>
    Add Product Category
    </h4>
    <h4 class="ui teal dividing header" *ngIf="this.currentRoute?.toString()?.includes('edit')">
      <br>
    Edit Product Category
    </h4>
    <sui-message class="warning mb-2 mt-2" *ngIf="!prod.productcategoryname ">
      <li>
        <strong>Note : </strong>  Fields marked with asterisk <strong>(*) </strong> are mandatory
      </li>
    </sui-message>
    <div class="equal width fields">
      <div class="field required" >
        <label>Product Category Name</label>
        <input  required type="text" placeholder="Product Name" [(ngModel)]="prod.productcategoryname" id="name" name="name" required>
      </div>
    </div>
    <div class="equal width fields">
      <div class="field ">
        <label>Description</label>
        <textarea type="text" placeholder="Something..!" rows="3" [(ngModel)]="prod.description" id="descc" name="desc"></textarea>
      </div>
    </div>

  </div>
  <button class="ui teal medium button my-1" (click)="patch(form)" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    Save
  </button>
  <button class="ui primary medium button my-1" (click)="patch(form)" *ngIf="this.currentRoute?.toString()?.includes('edit')">
    Update
  </button>
</form>

