<!--<div class="ui container pt-3 mb-3">-->
<!--  <div class="ui four stackable cards">-->
<!--    <div class="ui fluid raised card cardmy2">-->
<!--      <a class="content " [routerLink]="['masterprice/add']">-->
<!--        <a class="center aligned header">Master Price Entry</a>-->
<!--        <div class="center aligned meta" style="font-weight: bold; color: #1d2124">-->
<!--          create and view master price entry-->
<!--        </div>-->
<!--      </a>-->
<!--      <div class="center aligned extra content">-->
<!--        <div class="ui two cards content">-->
<!--          <a class="card p-0 cardmy">-->
<!--            <div class="ui orange mini statistic">-->

<!--              <div class="ui text-dark" style="text-transform: uppercase !important;font-size: 11px !important;">-->
<!--                <strong>Total Master Prices </strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->

<!--          <a class="card p-0 cardmy">-->
<!--            <div class="ui green mini statistic">-->
<!--              <div class="value p-1" style="text-transform: uppercase !important;font-size: 14px !important;font-weight: bold">-->
<!--                {{totalmasterpriceentries}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="ui fluid raised card cardmy2">-->
<!--      <a class="content " [routerLink]="['costing/costingreports/masterPriceReport']">-->
<!--        <a class="center aligned header">Reports</a>-->
<!--        <div class="center aligned meta" style="font-weight: bold; color: #1d2124">-->
<!--           view master price reports-->
<!--        </div>-->
<!--      </a>-->
<!--      <div class="center aligned extra content">-->
<!--        <div class="ui two cards content">-->
<!--          <a class="card p-0 cardmy">-->
<!--            <div class="ui orange mini statistic">-->

<!--              <div class="ui text-dark" style="text-transform: uppercase !important;font-size: 11px !important;">-->
<!--                <strong>Total Master Prices </strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->

<!--          <a class="card p-0 cardmy">-->
<!--            <div class="ui green mini statistic">-->
<!--              <div class="value p-1" style="text-transform: uppercase !important;font-size: 14px !important;font-weight: bold">-->
<!--                {{totalmasterpriceentries}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="ui container pt-5" >
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" [routerLink]="['masterprice/add']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Master Price Entry</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/section.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Add,View and Edit Entry
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['costing/costingreports/masterPriceReport']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Reports</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/holidaysetup.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          View Reports
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['weekendsetup']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Cost Sheet Woven</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/weekend.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Add Weekend and View Weekend
        </div>
      </div>
    </a>
<!--    <a class="card raised cardmy2" [routerLink]="['leaveapplication']">-->
<!--      <div class="ui centered my-3">-->
<!--        <div class="ui grid w-100">-->
<!--          <div class="nine wide column">-->
<!--            <h1 class="ml-3">Leave Application</h1>-->
<!--          </div>-->
<!--          <div class="seven wide column">-->
<!--            <div class="ui image">-->
<!--              <img src="assets/leaveapplication.png" style="height: 80.38px; width: 88.38px">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content">-->
<!--        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">-->
<!--          Add Leave Application and View Leave Application-->
<!--        </div>-->
<!--      </div>-->
<!--    </a>-->
  </div>

</div>