<sui-message class="warning mb-2 pt-5" >
  <strong>Note : </strong>
  <li>Prof. Reader Name Is Important </li>
</sui-message>
<div class="mb-5">
  <button class="ui tiny orange button" type="button" [routerLink]="['/planning/pfl-dashboard']">
    <i class="arrow left icon"></i>
    Back
  </button>
  <button class="ui tiny right floated green dropdown button" [ngClass]="{'teal':!showSearchForm}" (click)="showSearchForm = !showSearchForm;">
    <i class="search icon"></i>
    <div class="text mr-1">Search</div>
    <!--<i class="dropdown icon"></i>-->
    <span *ngIf="!showSearchForm"> <i class="arrow right icon"></i></span>
    <span *ngIf="showSearchForm"><i class="arrow down icon "></i></span>
  </button>
  <form #form='ngForm' class="ui small mt-2 inline form" *ngIf="showSearchForm">
    <h4 class="ui teal dividing header">
      Search PFL Prof Reading Information
    </h4>
    <div class="equal width fields">
      <div class="field">
        <label>Work Order Number :</label>
        <input placeholder="work order no"  type="text" [(ngModel)]="proRead.proreadingorderid" name="work">

        <!--        <sui-select placeholder=" " class="selection" [options]="workOrders" [(ngModel)]="proRead.proreadingorderid"-->
<!--          (input)="optionsLookupWorkOrder($event.target.value)" name="workorderno" [isSearchable]="true"-->
<!--          labelField="workorderno" valueField="workorderno" #selectWorkOrderNo>-->
<!--          <sui-select-option *ngFor="let op of selectWorkOrderNo.filteredOptions" [value]="op"></sui-select-option>-->
<!--        </sui-select>-->
      </div>
      <div class="field">
        <label>From Date :</label>
        <input placeholder="From Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="fromDate"
          name="fromDate">
      </div>
      <div class="field">
        <label>To Date :</label>
        <input placeholder="To Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="toDate" name="toDate">
      </div>
    </div>
    <div class="equal width fields" style="float: right !important;">
      <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" (click)="searchRecord()" class="ui small teal right button">
          <i class="search left icon" ></i>Search</button>
      </div>
      <div class="mr-1">
        <label>&nbsp;</label>
        <button type="button" class="ui small purple button right"
          (click)="form.resetForm();getData()">Reset</button>
      </div>
    </div>
  </form>
  <div class="ml-1 mt-3">
    <label>&nbsp;</label>
    <button type="button" class="ui small green button float-left"
      *ngIf="this.selectedCards.length >= 1 && this.selectedCards && this.selectedCards[0].Red_Status == 5 && this.selectedCards[0].profreadername" (click)="completeData()">Confirm</button>
  </div>
</div>
  <div class="overflow-x-scroll mt-2 mb-2">
  <table class=" ui very compact unstackable teal table">
    <thead>
      <tr>
        <th>
          <sui-checkbox class="middle aligned" name="foreign" [(ngModel)]="selectAllCard" (ngModelChange)="selectAll()">
          </sui-checkbox>
        </th>
        <th>S.No</th>
        <th>Actions</th>
        <th>Job Card No</th>
        <th>Order No</th>
        <th>Sample Name</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Confirmation Date</th>
        <th>Order Qty</th>
        <th>Job Qty</th>
        <th>Prof. Reader Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jc of dataList; let i = index">
        <td>
          <sui-checkbox class="mt-2" [(ngModel)]="jc.selected" name="{{i}}" (click)="selectCards(jc,i)"></sui-checkbox>
        </td>
        <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>
        <td class="text-center single line">
          <button class="ui tiny red label" *ngIf="jc?.Red_Status == 0" (click)="jobReceive()"><strong style="color: black"> Job
              Receive </strong></button>
          <button class="ui tiny orange label" *ngIf="jc?.Red_Status == 5"><strong style="color: black">
              Pending for prof reading </strong></button>
          | <i class="trash link red icon ml-2" (click)="deleteRecord(jc.Red_Id, jc.JobCardID,jc.Red_Order_Id,jc.SampleID)" ></i>
        </td>
        <td>{{jc?.JobCardNo}}</td>
        <td>{{jc?.WorkOrderNo}}</td>
        <td>{{jc?.SampleName}}</td>
        <td>{{jc?.OrderReceiveDate}}</td>
        <td>{{jc?.EstDeliverDate}}</td>
        <td>{{jc?.ConfirmationDate}}</td>
        <td>{{jc?.Red_Ord_Qty }}</td>
        <td>{{jc?.Red_Job_Qty }}</td>
        <td>
          <div class="ui action input required">
          <input type="text" name="profreadername" [(ngModel)]="jc.profreadername" >
        </div>
        </td>
        <td>
          <div class="ui action input">
          <input type="text" name="comments" [(ngModel)]="jc.comment">
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<sui-pagination [collectionSize]="meta.totalItemCount" [pageSize]="meta.itemsPerPage" [hasNavigationLinks]="true"
                [hasBoundaryLinks]="true" [hasEllipses]="true" [maxSize]="5" [canRotate]="true" [(page)]="meta.currentPage"
                (pageChange)="pageChange()">
</sui-pagination>