<div class="ui segment" [ngStyle]="{'background-color':'#71797E'}">
  <button class="ui blue label" printSectionId="printContent" ngxPrint><i class="print icon"></i> Print</button>
  <div id="printContent" #printContent >
    <table style="border-collapse: collapse;width: 100%; padding: 5px;">
      <tr>
        <td style="text-align: center;">
          <div style="font-size: 16px; font-weight: bold; padding: 5px;"> Maheen Label Tex Ltd. </div>
          <div style="padding: 5px;"> Employee Leave Register for the year of 2018 </div>
        </td>
      </tr>
    </table>
    <table style="border-collapse: collapse;width: 100%; padding: 5px; border: 1px solid black;">
      <tr style="text-align: center; border: 1px solid black;">
        <td style="border: 1px solid black;">Emp. Card no</td>
        <td style="border: 1px solid black;">Emp. Name</td>
        <td style="border: 1px solid black;">Designaton </td>
        <td style="border: 1px solid black;">Joining Date</td>
        <td style="border: 1px solid black;">EL Eligible </td>
        <td style="border: 1px solid black;" colspan="3">Earn Leave</td>
        <td style="border: 1px solid black;" colspan="3">Casual  Leave</td>
        <td style="border: 1px solid black;" colspan="3">Sick Leave </td>
        <td style="border: 1px solid black;" colspan="3">Balance</td>
      </tr>
      <tr style="text-align: center; border: 1px solid black;">
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;">Days</td>
        <td style="border: 1px solid black;">From</td>
        <td style="border: 1px solid black;">To</td>
        <td style="border: 1px solid black;">Days </td>
        <td style="border: 1px solid black;">From</td>
        <td style="border: 1px solid black;">To</td>
        <td style="border: 1px solid black;">Days </td>
        <td style="border: 1px solid black;">From</td>
        <td style="border: 1px solid black;">To</td>
        <td style="border: 1px solid black;">EL </td>
        <td style="border: 1px solid black;">CL</td>
        <td style="border: 1px solid black;">SL</td>
      </tr>
      <tr style="text-align: center; border: 1px solid black;">
        <td style="border: 1px solid black;" colspan="2">INFORMATION & TECHNOLOGY</td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"> </td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"> </td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"> </td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
      </tr>
      <tr style="text-align: center; border: 1px solid black;">
        <td style="border: 1px solid black;">0000001027</td>
        <td style="border: 1px solid black;"> Md Mahtab Hossain </td>
        <td style="border: 1px solid black;">Sofware Prog.</td>
        <td style="border: 1px solid black;">2016-06-01</td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
      </tr>
      <tr style="text-align: center; border: 1px solid black;">
        <td style="border: 1px solid black;" colspan="2"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;">0</td>
        <td style="border: 1px solid black;">0</td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;">0</td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;">12</td>
        <td style="border: 1px solid black;">2018-01-14</td>
        <td style="border: 1px solid black;">2018-01-25</td>
        <td style="border: 1px solid black;">0</td>
        <td style="border: 1px solid black;"></td>
        <td style="border: 1px solid black;"></td>
      </tr>
    </table>
  </div>
</div>