<!-- dfggfdgfdgdgdgdgd -->
<div class="ui container pt-5">
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" [routerLink]="['/planning/designer-entry']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Designer Entry </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482848.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Woven Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Design</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/harp.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Woven Technical Details
        </div>
      </div> -->
    </a>

    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Prof Reading</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482826.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Offset Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Printing</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/cassette.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Offset Technical Details
        </div>
      </div> -->
    </a>


    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Cutting</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/maracas.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View PFL Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Curing</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/notes.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update PFL Technical Details
        </div>
      </div> -->
    </a>

    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Lab Test</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482820.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Thermal Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Finishing</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/peas.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Thermal Technical Details
        </div>
      </div> -->
    </a>

    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">AQL</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/burner.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Heat-Transfer Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Challan</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/physics.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Heat-Transfer Technical Details
        </div>
      </div> -->
    </a>

    <a class="card raised cardmy2" [routerLink]="['./']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Scan Job Card</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482808.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Screen Print Sample
        </div>
      </div> -->
    </a>
    <a class="card raised cardmy2" [routerLink]="['/planning/wastage-entry/woven']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Actual Wastage Entry</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482808.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Screen Print Sample
        </div>
      </div> -->
    </a>

  </div>
</div>
