<div class="ui segment mt-2" style="width: 90%; margin: 0 auto;">
  <button class="ui blue label" printSectionId="printContent" ngxPrint><i class="print icon"></i> Print</button>
  <div id="printContent">
    <table style="border-collapse: collapse;width: 100%; font-weight: bold;">
      <tbody>
        <tr>
          <td style="width: 70%;padding: 5px;">
            Ref: FW/MDEL/2020/07
          </td>
          <td style="width: 30%;">
            Date: june 14, 2020
          </td>
        </tr>
      </tbody>
    </table>
    <table style="border-collapse: collapse;width: 100%">
      <tbody>
        <tr>
          <td style="padding: 5px;">
            The Manager
          </td>
        </tr>
        <tr>
          <td style="padding: 5px;">
            Dutch Bangla Bank Ltd.
          </td>
        </tr>
        <tr>
          <td style="padding: 5px;">
            Dania Branch
          </td>
        </tr>
      </tbody>
    </table>
    <table style="margin:20px 0px;border-collapse: collapse;width: 100%">
      <tr>
        <td style="padding: 5px;">
          Subject: Salary Disbursement for the month of May-2020
        </td>
      </tr>
    </table>
    <table style="border-collapse: collapse;width: 100%">
      <tr>
        <td style="padding: 5px;">
          Dear Sir
        </td>
      </tr>
      <tr>
        <td style="padding: 5px;">
          <div style="margin-bottom: 20px;"> Please Transfer <span style="font-weight: bold;">Tk.3, 136, 787/-
              (Thirty-one lac thirty-six thousand seven
              hundred eighty-seven only)</span> to our following employees bank accounts by debiting
            our Account No. 1234567 in the name of Maheen Dizayn Etiket (BD) Ltd maintained with you.</div>
          <div>
            <!-- <table style="width: 100%; margin-bottom: 20px;border:1px solid black;border-collapse: collapse;">
              <tr style="border-bottom:1px solid black;">
                <td style="padding: 5px;border-right:1px solid black;">
                  SL
                </td>
                <td style="padding: 5px; border-right:1px solid black;">
                  Card
                 </td>
                 <td style="padding: 5px; border-right:1px solid black;">
                  Employee
                 </td>
                 <td style="padding: 5px; border-right:1px solid black;">
                  Account No
                 </td>
                 <td style="padding: 5px;">
                  Amount
                 </td>
              </tr>
              <tr *ngFor="let data of bankDatas; let i = index" style="border-bottom:1px solid black;">
                <td style="padding: 5px; border-right:1px solid black;">
                  {{i+1}}
                </td>
                <td style="padding: 5px; border-right:1px solid black;">
                  {{data?.CardNo}}
                 </td>
                 <td style="padding: 5px; border-right:1px solid black;">
                  {{data?.EmployeeName}}
                 </td>
                 <td style="padding: 5px; border-right:1px solid black;">
                  {{data?.AccountNNumber}}
                 </td>
                 <td style="padding: 5px;">
                  {{data?.BankAmount}}
                 </td>
              </tr>
            </table> -->
          </div>
          <div>For better clarification we have provided you the soft copy of data through e-mail from id number
            <a href="mailto:shihab@maheen-label.com">shihab@maheen-label.com</a> sender name S M Shihab Uddin and affirm
            you that the soft copy of data
            submitted to you. For any deviation with soft copy and hard copy we'll be held responsible. For any query
            please contact with
            <span style="font-weight: bold;">Mr. S M Shihab Uddin</span>.</div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px;">
          <div style="margin-top: 20px;"> Thanking You </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px;">
          Best Regards
        </td>
      </tr>
    </table>
  </div>
</div>