<ngx-loading-bar [includeSpinner]="true" height="4px" [includeBar]="true" [ngStyle]="{'background-color':'#71797E'}"></ngx-loading-bar>

<!--eof loader-->
<!--      <sui-dimmer class="page" [(isDimmed)]="!isdimm" [transitionDuration]="300">-->
<!--        <h3>-->
<!--          <div class="ui text loader">Wait! Form Is Loading 🙂</div></h3>-->
<!--      </sui-dimmer>-->
<!-- *ngIf="this.username" -->
<div class="ui top fixed horizontal inverted menu" *ngIf="this.showheader" [ngStyle]="{'background-color':'#71797E'}" >
   <!--<div class="ui container">-->
   <!-- <a class="item ml-2">
   </a> -->
<!--   <a class="item" (click)="sidebar.toggle()">  style="border-radius: 100%" height="50px" width="800px"-->
<!--      <strong><i class="sidebar icon"></i></strong>-->
<!--   </a>-->
   <a class="ml-1 mr-1" [routerLink]="['hrm/hrm-dashboard']">
      <img src="assets/bdwasa2.jpg"  alt="" height="70px" width="180px" style="border: 1px;" >
      <!-- <strong class="ml-4 mr-4 ">CTBL.HRM</strong> -->

   </a>
   <!-- <div class="ui center aligned grid" >        <h3 style="margin-top: 30px;">DHAKA WASA</h3>
   </div> -->
   <!-- <a class="item mini" [routerLink]="['hrm/hrm-dashboard']" [routerLinkActive]="['active']"><strong>Home</strong></a> -->

   <!-- <a class="item mini" *ngIf="includes('masters')" [routerLink]="['/masters']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Masters</strong> </a> -->

   <!-- <a class="item mini" *ngIf="includes('masters/companies')" [routerLink]="['masters/companies']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Company</strong> </a>
   <a class="item mini" *ngIf="includes('masters/product-categories')" [routerLink]="['masters/product-categories']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Product Categories</strong> </a>
   <a class="item mini" *ngIf="includes('masters/product-sub-categories')"
      [routerLink]="['masters/product-sub-categories']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Product Sub Categories</strong> </a>
   <a class="item mini" *ngIf="includes('masters/clients')" [routerLink]="['masters/clients']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Customers</strong> </a>
   <a class="item mini" *ngIf="includes('masters/designations')" [routerLink]="['masters/designations']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Designations</strong> </a>
   <a class="item mini" *ngIf="includes('masters/departments')" [routerLink]="['masters/departments']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Departments</strong> </a>
   <a class="item mini" *ngIf="includes('masters/employees')" [routerLink]="['masters/employees']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Employees</strong> </a>
   <a class="item mini" *ngIf="includes('masters/prices')" [routerLink]="['masters/prices']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Master Prices Entry</strong> </a>
   <a class="item mini" *ngIf="includes('masters/brands')" [routerLink]="['masters/brands']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Brands</strong> </a>
   <a class="item mini" *ngIf="includes('masters/programs')" [routerLink]="['masters/programs']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Sub Brand</strong> </a>
   <a class="item mini" *ngIf="includes('masters/suppliers')" [routerLink]="['masters/suppliers']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Suppliers</strong> </a>
   <a class="item mini" *ngIf="includes('masters/lovs')" [routerLink]="['masters/lovs']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Lov</strong> </a>
   <a class="item mini" *ngIf="includes('masters/sample-color')" [routerLink]="['masters/sample-color']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Sample Color</strong> </a>
   <a class="item mini" *ngIf="includes('masters/sample-part-wise')" [routerLink]="['masters/sample-part-wise']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Sample Part Wise</strong> </a>

   <a class="item mini" *ngIf="includes('inventory')" [routerLink]="['/inventory']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Inventory</strong> </a>
   <a class="item mini" *ngIf="includes('samples')" [routerLink]="['/NPD-samples']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>NPD</strong> </a>
   <a class="item mini" *ngIf="includes('technical')" [routerLink]="['/NPD-samples']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>NPD</strong> </a>
   <a class="item mini" *ngIf="includes('costing')" [routerLink]="['/costing']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Costing</strong> </a>

   <a class="item mini" *ngIf="includes('costing/masterprice/add')" [routerLink]="['costing/masterprice/add']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Mater Price Entry</strong></a>
   <a class="item mini" *ngIf="includes('costing/costingreports')" [routerLink]="['costing/costingreports']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Costing Reports</strong></a>
 -->


   <!--Samples-->

   <!-- <a class="item mini" *ngIf="includes('woven/samples')" [routerLink]="['woven/samples']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Woven</strong></a>
   <a class="item mini" *ngIf="includes('woven/samples/add')" [routerLink]="['woven/samples/add']"
      [routerLinkActive]="['active']"><strong>Add Woven Sample</strong></a>
   <a class="item mini" *ngIf="includes('offset/samples')" [routerLink]="['offset/samples']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Offset</strong></a>
   <a class="item mini" *ngIf="includes('offset/samples/add')" [routerLink]="['offset/samples/add']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong> Add Offset Samples</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer/samples')" [routerLink]="['heat-transfer/samples']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Heat Transfer</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer/samples/add')" [routerLink]="['heat-transfer/samples/add']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Add Heat Transfer</strong></a>
   <a class="item mini" *ngIf="includes('pfl/samples')" [routerLink]="['pfl/samples']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>PFL</strong></a>
   <a class="item mini" *ngIf="includes('pfl/samples/add')" [routerLink]="['pfl/samples/add']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Add PFL Sample</strong></a>
   <a class="item mini" *ngIf="includes('thermal/samples')" [routerLink]="['thermal/samples']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Thermal</strong></a>
   <a class="item mini" *ngIf="includes('screen-print/samples')" [routerLink]="['screen-print/samples']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Screen Print</strong></a>
   <a class="item mini" *ngIf="includes('thermal/samples/add')" [routerLink]="['thermal/samples/add']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Add Thermal Sample</strong></a> -->


   <!--End Samples-->
   <!-- sample-technical-details -->
   <!-- <a class="item mini" *ngIf="includes('woven-technical-details')" [routerLink]="['woven-technical-details']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Woven-Technical-Details</strong></a>
   <a class="item mini" *ngIf="includes('offset-technical-details')" [routerLink]="['offset-technical-details']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Offset-Technical-Details</strong></a>
   <a class="item mini" *ngIf="includes('pfl-technical-details')" [routerLink]="['woven-technical-details']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Pfl-Technical-Details</strong></a>
   <a class="item mini" *ngIf="includes('thermal-technical-details')" [routerLink]="['thermal-technical-details']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Thermal-Technical-Details</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer-technical-details')"
      [routerLink]="['heat-transfer-technical-details']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Heat-Transfer-Technical-Details</strong></a>
   <a class="item mini" *ngIf="includes('screen-print-technical-details')"
      [routerLink]="['screen-print-technical-details']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Screen-Print-Technical-Details</strong></a> -->

   <!--End- sample-technical-details -->

   <!--work Order-->


   <!-- <a class="item mini" *ngIf="includes('workorderforall')" [routerLink]="['orders']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Orders</strong></a>
   <a class="item mini" *ngIf="includes('mergeorder')" [routerLink]="['orders']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Orders</strong></a>
   <a class="item mini" *ngIf="includes('orders')" [routerLink]="['orders']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Orders</strong></a>
   <a class="item mini" *ngIf="includes('woven/work-orders')" [routerLink]="['woven/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Woven work-order</strong></a>
   <a class="item mini" *ngIf="includes('woven/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('offset/work-orders')" [routerLink]="['offset/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Offset work-order</strong></a>
   <a class="item mini" *ngIf="includes('offset/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('pfl/work-orders')" [routerLink]="['pfl/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>PFL work-order</strong></a>
   <a class="item mini" *ngIf="includes('pfl/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('thermal/work-orders')" [routerLink]="['thermal/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Thermal work-order</strong></a>
   <a class="item mini" *ngIf="includes('thermal/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('screen-print/work-orders')" [routerLink]="['screen-print/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Screen Print
         work-order</strong></a>
   <a class="item mini" *ngIf="includes('screen-print/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer/work-orders')" [routerLink]="['heat-transfer/work-orders']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Heat Transfer
         work-order</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer/work-orders/add')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Add Work Orders</strong></a>
   <a class="item mini" *ngIf="includes('mergeorder')" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Merge Orders</strong></a>
   <a class="item mini" *ngIf="includes('WOReports')" [routerLink]="['orders']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Work Orders Report</strong></a>
   <a class="item mini" *ngIf="includes('WOReports/CSOrderReport')" [routerLink]="['WOReports/CSOrderReport']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>CS Work Orders
         Report</strong></a>
   <a class="item mini" *ngIf="includes('WOReports/buyerOrderReport')" [routerLink]="['WOReports/buyerOrderReport']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Buyer Work Orders
         Report</strong></a>

   <a class="item mini" *ngIf="includes('workorderconfirmation')" [routerLink]="['workorderconfirmation']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Work Order
         Confirmation</strong></a>

   <a class="item mini" *ngIf="includes('ordertracking')" [routerLink]="['ordertracking']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong> Send for Production
      </strong></a> -->



   <!--End Work Orders-->

   <!--Job Cards-->
   <!-- <a class="item mini" *ngIf="includes('job-cards')" [routerLink]="['job-cards']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Job Cards</strong></a>

   <a class="item mini" *ngIf="includes('woven/job-cards')" [routerLink]="['woven/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Woven Job Card</strong></a>
   <a class="item mini" *ngIf="includes('woven/job-cards/add')" [routerLink]="['woven/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a>

   <a class="item mini" *ngIf="includes('offset/job-cards')" [routerLink]="['offset/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Offset Job Card</strong></a>
   <a class="item mini" *ngIf="includes('offset/job-cards/add')" [routerLink]="['offset/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a>

   <a class="item mini" *ngIf="includes('pfl/job-cards')" [routerLink]="['pfl/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Job Card</strong></a>
   <a class="item mini" *ngIf="includes('pfl/job-cards/add')" [routerLink]="['pfl/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a>

   <a class="item mini" *ngIf="includes('thermal/job-cards')" [routerLink]="['thermal/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Thermal Job Card</strong></a>
   <a class="item mini" *ngIf="includes('thermal/job-cards/add')" [routerLink]="['thermal/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a>

   <a class="item mini" *ngIf="includes('heat-transfer/job-cards')" [routerLink]="['heat-transfer/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Heat Transfer Job
         Card</strong></a>
   <a class="item mini" *ngIf="includes('heat-transfer/job-cards/add')" [routerLink]="['heat-transfer/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a>

   <a class="item mini" *ngIf="includes('screen-print/job-cards')" [routerLink]="['screen-print/job-cards']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Screen Print Job
         Card</strong></a>
   <a class="item mini" *ngIf="includes('screen-print/job-cards/add')" [routerLink]="['screen-print/job-cards/add']"
      [routerLinkActive]="['active']"><strong>Add Job Card</strong></a> -->




   <!-- End Job Cards-->

   <!-- <a class="item mini" *ngIf="includes('woven/delivery-challans')" [routerLink]="['woven/delivery-challans']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Delivery Challans</strong></a>
   <a class="item mini" *ngIf="includes('woven/delivery-challans/add')" [routerLink]="['woven/delivery-challans/add']"
      [routerLinkActive]="['active']"><strong>Add Delivery Challan</strong></a>

   <a class="item mini" *ngIf="includes('inventory/items')" [routerLink]="['/inventory/items']"
      [routerLinkActive]="['active']"><strong>Items</strong></a>

   <a class="item mini" *ngIf="includes('inventory/receive')" [routerLink]="['/inventory/receive']"
      [routerLinkActive]="['active']"><strong>Received Notes</strong></a>

   <a class="item mini" *ngIf="includes('inventory/issue')" [routerLink]="['/inventory/issue']"
      [routerLinkActive]="['active']"><strong>Issue Notes</strong></a>

   Planning Part Start -->
   <!-- <a class="item mini" *ngIf="includes('planning')" [routerLink]="['/planning']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Planning</strong> </a>

   <a class="item mini" *ngIf="includes('planning/pfl')" [routerLink]="['planning/pfl']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>PFL</strong> </a>
   <a class="item mini" *ngIf="includes('planning/woven')" [routerLink]="['planning/woven']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Woven</strong> </a>
   <a class="item mini" *ngIf="includes('planning/offset')" [routerLink]="['planning/offset']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Offset</strong> </a>
   <a class="item mini" *ngIf="includes('planning/thermal')" [routerLink]="['planning/thermal']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Thermal</strong> </a>
   <a class="item mini" *ngIf="includes('planning/heat-transfer')" [routerLink]="['planning/heat-transfer']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Heat Transfer</strong> </a>
   <a class="item mini" *ngIf="includes('planning/screen-print')" [routerLink]="['planning/screen-print']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Screen Print</strong> </a>
   <a class="item mini" *ngIf="includes('planning/pfl-dashboard')" [routerLink]="['planning/pfl-dashboard']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>PFL Planning</strong> </a>

   <a class="item mini" *ngIf="includes('planning/pfl-product-status-dashboard')"
      [routerLink]="['planning/pfl-dashboard']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>PFL Product Status Dashboard</strong> </a> -->

   <!-- <a class="item mini" *ngIf="includes('hrm/hrm-dashboard')" [routerLink]="['hrm/hrm-dashboard']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>HRM</strong> </a> -->
   <!-- <a class="item mini" *ngIf="includes('hrm/hrmMaster')" [routerLink]="['hrm/hrmMaster']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>HRM Master</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/attendance')" [routerLink]="['hrm/attendance']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Attendance</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/leaveapplication')"
      [routerLink]="['hrm/hrmMaster/leaveapplication']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Leave Application</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/holidaysetup')" [routerLink]="['hrm/hrmMaster/holidaysetup']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Holiday Setup</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/weekendsetup')" [routerLink]="['hrm/hrmMaster/weekendsetup']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Weekend Setup</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/section')" [routerLink]="['hrm/hrmMaster/section']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Section Setup</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/employee')" [routerLink]="['hrm/hrmMaster/employee']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Employees</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/hrmMaster/shift')" [routerLink]="['hrm/hrmMaster/shift']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Shift</strong> </a>

   <a class="item mini" *ngIf="includes('hrm/payroll')" [routerLink]="['hrm/payroll']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"><strong>Payroll</strong> </a>
      
   <a class="item mini" *ngIf="includes('hrm/payroll/employeeAdvance')" [routerLink]="['hrm/payroll/employeeAdvance']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Employee Advance</strong> </a>
   <a class="item mini" *ngIf="includes('hrm/payroll/salaryIncrement')" [routerLink]="['hrm/payroll/salaryIncrement']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><strong>Salary Increment</strong> </a> -->


   <!-- Planning Part End -->
   <!--  <a class="header item right floated" [routerLink]="['login/user-login']" (click)="logout()">Logout</a>-->
   <div class="right menu pointer">
      <!-- <span class="ui item"> -->
         <strong [ngStyle]="{'color':'orange'}">Logged as -{{username}}@{{zonename}}<br>
            <span (click)="logout()" [ngStyle]="{'color':'orange'}">
               Log Out </span>
         </strong> 
         
            <!-- </span> -->
      
         <img src="assets/employees/0.png"  alt="" height="70px" width="70px" style="border-radius: 50%;" >
      
      </div>

</div>
<!-- pt-5 style="width: 18%;" --> 
<sui-sidebar-container class="ui bottom attached segment pt-5">
   <sui-sidebar class="horizontal fixed blue borderless m-0 " [ngClass]="{'pt-5':sidebar.isVisible}" 
      [direction]="'top'" [transition]="'slide along'" #sidebar>
      <div class="item" *ngIf="this.currentRoute === '/home'">
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/masters']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">Masters</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/inventory']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">Inventory</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/woven/samples']"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">NPD</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/woven/combined']"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Work Order</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/costing']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">Costing</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/job-cards']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">Job Cards</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/planning']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">Planning</a>
      </div>
      <div class="item" *ngIf="includes('masters')">
         <a class="item p-2 mx-1" routerLink="masters/companies" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Companies
         </a>
         <a class="item p-2 mx-1" routerLink="masters/departments" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Departments
         </a>
         <a class="item p-2 mx-1" routerLink="masters/designations" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Designations
         </a>
         <a class="item p-2 mx-1" routerLink="masters/employees" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Employees
         </a>
         <a class="item p-2 mx-1" routerLink="masters/brands" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Brands
         </a>
         <a class="item p-2 mx-1" routerLink="masters/prices" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Master Entry Price
         </a>
         <a class="item p-2 mx-1" routerLink="masters/programs" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Sub Brands
         </a>
         <a class="item p-2 mx-1" routerLink="masters/product-categories" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Product Categories
         </a>
         <a class="item p-2 mx-1" routerLink="masters/product-sub-categories" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Product Sub Categories
         </a>
         <a class="item p-2 mx-1" routerLink="masters/clients" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Clients
         </a>
         <a class="item p-2 mx-1" routerLink="masters/suppliers" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Suppliers
         </a>
         <a class="item" routerLink="masters/lovs" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Lov
         </a>
         <a class="item" routerLink="masters/sample-color" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Sample Color
         </a>
         <a class="item" routerLink="masters/sample-part-wise" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Sample Part Wise
         </a>
      </div>
      <!-- Planning Part Start -->
      <div class="item" *ngIf="this.currentRoute === '/planning'">
         <a class="item p-2 mx-1" [routerLink]="['planning/pfl']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            PFL
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/woven']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Woven
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/offset']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Offset
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/thermal']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Thermal
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/heat-transfer']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Heat Transfer
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/screen-print']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Screen Print
         </a>
      </div>
      <div class="item" *ngIf="includes('planning/pfl')">
         <a class="item p-2 mx-1" [routerLink]="['planning/pfl-dashboard']" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            PFL Plan Dashboard
         </a>
         <a class="item p-2 mx-1" [routerLink]="['planning/pfl-product-status-dashboard']"
            [routerLinkActive]="['active']" (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            PFL Product Status Dashboard
         </a>
      </div>
      <!-- <div class="item" *ngIf="includes('planning/pfl-')">
         <a class="item p-2 mx-1" routerLink="planning/pfl-dashboard" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            PFL Planning
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Design
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Prof Reading
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Printing
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Cutting
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Curing
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Lab Test
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            Finishing
         </a>
         <a class="item p-2 mx-1" routerLink="" [routerLinkActive]="['active']" (click)="sidebar.open()"
            [routerLinkActiveOptions]="{exact:true}">
            AQL
         </a>
         <a class="item p-2 mx-1" routerLink="planning/heat-transfer" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Challan
         </a>
         <a class="item p-2 mx-1" routerLink="planning/screen-print" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            Scan Job Card
         </a>
      </div> -->
      <!-- Planning Part End -->
      <div class="item" *ngIf="this.currentRoute === '/woven'">
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['woven/samples']">Samples </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['woven/work-orders']">Work Orders</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['woven/job-cards']">Job Cards</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['woven/delivery-challans']">Delivery
            Challans</a>
      </div>
      <div class="item" *ngIf="includes('woven/samples')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/samples/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            New Sample
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/samples" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Search Samples
         </a>
      </div>
      <div class="item" *ngIf="includes('woven/combined')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/work-orders"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Woven
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="offset/work-orders"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Offset
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="pfl/work-order" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            PFL
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/mergeorder" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Orders
         </a>
      </div>
      <div class="item" *ngIf="includes('woven/job-cards')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/job-cards/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Job Card
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/job-cards" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Job Cards
         </a>
      </div>
      <div class="item" *ngIf="includes('costing')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="costing/masterprice/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Master Price Entry
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="costing/costingreports"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Costing Reports
         </a>
      </div>
      <div class="item" *ngIf="includes('woven/work-orders')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/work-orders/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Work Order
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/work-orders"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Work Orders
         </a>
      </div>
      <div class="item" *ngIf="includes('offset/work-orders')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="offset/work-orders/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Work Order
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="offset/work-orders"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Work Orders
         </a>
      </div>
      <div class="item" *ngIf="includes('pfl/work-order')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="pfl/work-order/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Work Order
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="pfl/work-order" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Work Orders
         </a>
      </div>
      <div class="item" *ngIf="includes('woven/delivery-challans')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/delivery-challans/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Delivery Challan
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/delivery-challans"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Delivery Challans
         </a>
      </div>
      <div class="item" *ngIf="includes('/NPD/dash-board')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="woven/samples" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Woven
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="offset/samples" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Offset
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="pfl/samples" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Pfl
         </a>
      </div>
      <div class="item" *ngIf="this.currentRoute === '/inventory'">
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/inventory/items']">Items</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/inventory/receive']">Receiving</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/inventory/issue']">Issue Notes</a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/inventory/opening']">Opening Issues</a>
      </div>

      <div class="item" *ngIf="includes('inventory/items')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/items/item-category"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Item Categories
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/items/item-group"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Item Groups
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/items/item-sub-group"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Item Sub Groups
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/items" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            Item WorkOrder
         </a>
      </div>
      <div class="item" *ngIf="includes('inventory/stock-report')">

      </div>
      <div class="item" *ngIf="includes('inventory/receive')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/receive/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Receive Entry
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/receive/search"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Search Receive
         </a>
      </div>
      <div class="item" *ngIf="includes('inventory/issue')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/issue/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Issue Note
         </a>
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/issue/search"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Search Issue
         </a>
      </div>
      <div class="item" *ngIf="includes('inventory/opening')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="inventory/opening/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Opening Inventory
         </a>
      </div>
      <div class="item" *ngIf="this.currentRoute === '/offset'">
         <a class="item p-2 mx-1" (click)="sidebar.open()" [routerLink]="['/offset/samples']">Offset NPD Sample</a>
      </div>
      <div class="item" *ngIf="includes('offset/samples')">
         <a class="item p-2 mx-1" (click)="sidebar.open()" routerLink="/offset/samples/add"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            Add Offset Sample
         </a>
      </div>
      <div class="item" *ngIf="includes('hrm/hrm-dashboard')">
         <a class="item p-2 mx-1" routerLink="hrm/hrm-dashboard" [routerLinkActive]="['active']"
            (click)="sidebar.open()" [routerLinkActiveOptions]="{exact:true}">
            HRM
         </a>
      </div>
   </sui-sidebar>
   <sui-sidebar-sibling class="ui mt-0 m-3 stackable" [isDimmedWhenVisible]="false" style="background-color: #ffffff">
      <div>
         <router-outlet></router-outlet>
      </div>
   </sui-sidebar-sibling>
</sui-sidebar-container>



<!--<html>-->
<!--<head>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <style>-->
<!--    body {-->
<!--      font-family: "Lato", sans-serif;-->
<!--    }-->

<!--    .sidenav {-->
<!--      height: 100%;-->
<!--      width: 160px;-->
<!--      position: fixed;-->
<!--      z-index: 1;-->
<!--      top: 0;-->
<!--      left: 0;-->
<!--      background-color: white;-->
<!--      overflow-x: hidden;-->
<!--      padding-top: 20px;-->
<!--    }-->

<!--    .sidenav a {-->
<!--      padding: 6px 8px 6px 16px;-->
<!--      text-decoration: none;-->
<!--      font-size: 25px;-->
<!--      color: #818181;-->
<!--      display: block;-->
<!--    }-->

<!--    .sidenav a:hover {-->
<!--      color: #f1f1f1;-->
<!--    }-->

<!--    .main {-->
<!--      margin-left: 160px; /* Same as the width of the sidenav */-->
<!--      font-size: 28px; /* Increased text to enable scrolling */-->
<!--      padding: 0px 10px;-->
<!--    }-->

<!--    @media screen and (max-height: 450px) {-->
<!--      .sidenav {padding-top: 15px;}-->
<!--      .sidenav a {font-size: 18px;}-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="sidenav">-->
<!--  <a href="#about">About</a>-->
<!--  <a href="#services">Masters</a>-->
<!--  <a href="#clients">Inventory</a>-->
<!--  <a href="#contact">NPD</a>-->
<!--  <a href="#contact">Work Order</a>-->
<!--  <a href="#contact">JobCard</a>-->
<!--  <a href="#contact">Costing</a>-->
<!--</div>-->

<!--<div class="main">-->
<!--</div>-->

<!--</body>-->
<!--</html>-->