
<div class="ui container pt-5">
  <div class="ui link divided stackable three cards">
    <a class="card raised cardmy2" [routerLink]="['./pfl']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">PFL Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/PFL.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Pfl production planning process step by step
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['./woven']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Woven Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/woven.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Woven planning process step by step
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['./offset']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Offset Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/offset.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Offset planning process step by step
        </div>
      </div>
    </a>    
  </div>
    <div class="ui link divided stackable three cards">
    <a class="card raised cardmy2" [routerLink]="['./thermal']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Thermal Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/thermal.jpg" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Thermal planning process step by step
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['./heat-transfer']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Heat Transfer Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/heat.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Heat transfer planning process step by step
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['./screen-print']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Screen Print Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/screen.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Screen print planning process step by step
        </div>
      </div>
    </a>
  </div>
</div>
