<div class="mb-5 pt-5">
  <button class="ui tiny orange button" type="button" (click)="backClicked()" >
    <i class="angle left icon"></i>
    Back
  </button>
  <button class="ui teal tiny button" [ngClass]="{'teal':collapse,'red':!collapse}" (click)="collapse = !collapse;" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <span *ngIf="collapse"> <i class="add icon"></i>Create Product Sub Category</span>
    <span *ngIf="!collapse"><i class="arrow up icon "></i>Done</span>

  </button>
  <button class="ui primary tiny button" (click)="get()" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <i class="refresh icon"></i>
    Refresh
  </button>
  <button class="ui tiny green dropdown button" suiPopup [popupTemplate]="popupExcel" popupTrigger="outsideClick" popupPlacement="bottom" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <i class="file excel icon"></i>
    <div class="text">Download Excel / Csv</div>
    <i class="dropdown icon"></i>
  </button>
  <!--  <button class="ui tiny purple dropdown button" suiPopup [popupTemplate]="popupCsv" popupTrigger="outsideClick" popupPlacement="bottom">-->
  <!--    <i class="file excel icon"></i>-->
  <!--    <div class="text">Download Csv</div>-->
  <!--    <i class="dropdown icon"></i>-->
  <!--  </button>-->
  <button class="ui tiny red dropdown button" suiPopup [popupTemplate]="popupPDF" popupTrigger="outsideClick" popupPlacement="bottom" *ngIf="!this.currentRoute?.toString()?.includes('edit') && addNew">
    <i class="file pdf icon"></i>
    <div class="text">Download PDF</div>
    <i class="dropdown icon"></i>
  </button>
  <ng-template let-popup #popupExcel >
     <sui-message class="warning tiny mb-2" *ngIf="this.selectedProdcats.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1" [disabled]="this.selectedProdcats.length <=0" (click)="exporttoExcel()"><strong><i class="arrow down icon"></i></strong>Excel Selected Data</button>
    <button class="ui tiny light-grey button m-1" [disabled]="this.selectedProdcats.length <=0" (click)="exporttoCsv()"><strong><i class="arrow down icon"></i></strong>Csv Selected Data</button>

    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label>From Page</label>
          <input type="number" [(ngModel)]="fromPage" name="fromPage">
        </div>
        <div class="field">
          <label>To Page</label>
          <input  type="number" [(ngModel)]="toPage" name="toPage">
        </div>
      </div>
    </div>
    <button class="ui tiny green button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoExcel(true)"><strong><i class="arrow down icon"></i></strong>Excel</button>
    <button class="ui tiny light-grey button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoCsv(true)"><strong><i class="arrow down icon"></i></strong>Csv</button>

  </ng-template>
  <!--  <ng-template let-popup #popupCsv >-->
  <!--    <button class="ui tiny brown button m-1" (click)="exporttoCsv()">Download Current Page Data</button>-->

  <!--    <div class="ui divider"></div>-->
  <!--    <div class="ui form p-1">-->
  <!--      <div class="two fields">-->
  <!--        <div class="field">-->
  <!--          <label>From Page</label>-->
  <!--          <input type="number" [(ngModel)]="fromPage" name="fromPage">-->
  <!--        </div>-->
  <!--        <div class="field">-->
  <!--          <label>To Page</label>-->
  <!--          <input  type="number" [(ngModel)]="toPage" name="toPage">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <button class="ui tiny green button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoCsv(true)">Download</button>-->

  <!--  </ng-template>-->
  <ng-template let-popup #popupPDF >
     <sui-message class="warning tiny mb-2" *ngIf="this.selectedProdcats.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1" [disabled]="this.selectedProdcats.length <=0" (click)="exportToPDF()"><strong><i class="arrow down icon"></i></strong>PDF Selected Data</button>
    <button class="ui tiny blue button m-1" [disabled]="this.selectedProdcats.length <=0" (click)="printOpen()"><strong><i class="print icon"></i> </strong>   Print Selected Data</button>
    <!--<button class="ui tiny teal button m-1" (click)="openPrint()"> <strong><i class="print icon"></i></strong> Direct Print</button>-->
    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label>From Page</label>
          <input type="number" [(ngModel)]="fromPage" name="fromPage">
        </div>
        <div class="field">
          <label>To Page</label>
          <input  type="number" [(ngModel)]="toPage" name="toPage">
        </div>
      </div>
    </div>
    <button class="ui tiny red button m-1" [disabled]="!fromPage || !toPage" (click)="exportToPDF(true)"><strong><i class="arrow down icon"></i></strong> PDF</button>
    <button class="ui tiny blue button m-1" [disabled]="!fromPage || !toPage" (click)="printOpen(true)"><strong><i class="print icon"></i> </strong> Print</button>
  </ng-template>
  <!--<sui-search [optionsLookup]="optionsSearch" #searchBox class="ui mini  right floated ml-5"-->
              <!--optionsField="productsubcategoryname"-->
              <!--[retainSelectedResult]="true"-->
              <!--(resultSelected)="alert($event.productsubcategoryname)"></sui-search>-->
  <div [suiCollapse]="collapse">
    <div class="mt-2">
      <app-add-product-sub-category (added)="getItemCount()"></app-add-product-sub-category>
    </div>
  </div>

  <table class="ui mini very compact teal table unstackable">
    <thead>
    <tr>
      <th>
        <sui-checkbox  class="middle aligned" name="foreign" [(ngModel)]="selectAllProdcat" (ngModelChange)="selectAll()"></sui-checkbox>
      </th>
      <th>S.No</th>
      <th>Action</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <!--<th>Date</th>-->

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of subproduct; let i = index">
      <td><sui-checkbox  class="mt-2" [(ngModel)]="prod.selected" name="{{i}}" (click)="selectProdcats(prod,i)"></sui-checkbox>
      </td>
      <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>
      <td class="single line">
<!--        <i (click)="delete(prod.productsubcategoryid)" class="trash link red icon px-1"></i>-->
        <i [routerLink]="['/product-sub-categories/edit',prod?.productsubcategoryid]" *ngIf="editExisting"
           class="edit link blue icon px-1"> <a></a></i>
      </td>
      <td>
        {{prod.productsubcategoryname }}
      </td>
      <td>
        {{prod.productCategory?.productcategoryname }}
      </td>
      <td>
        {{prod.description }}
      </td>
      <!--<td>{{ prod.created | date}}</td>-->
    </tr>
    </tbody>
  </table>
  <!--<pagination-controls *ngIf="subproduct" class="my-pagination" (pageChange)="p = $event"></pagination-controls>-->


  <sui-pagination [collectionSize]="meta.totalItemCount"
                  [pageSize]="meta.itemsPerPage"
                  [hasNavigationLinks]="true"
                  [hasBoundaryLinks]="true"
                  [hasEllipses]="true"
                  [maxSize]="5"
                  [canRotate]="true"
                  [(page)]="meta.currentPage"
                  (pageChange)="get()">
  </sui-pagination>
  <div class="ui action input ml-2">
    <input [(ngModel)]="goToPage" [min]="1" name="selectedPage" placeholder="" type="number">
    <button (click)="goToPageNo()"  [disabled]="goToPage>meta.totalPageCount || goToPage<1" class="ui button">Go to Page
    </button>
  </div>
</div>
