/* .couponr {
    width: 70%; 
    padding: 10px; 
    text-align: center; 
    border: 5px dashed red; 
    margin:auto;
  }
  
  @media screen and (max-width: 480px) {
   .couponr {
     width: 100%;
   }
  } */
  /* .body {
      color: white;
  }
  table td.shrink {
    white-space:nowrap;
    width:auto;
padding: 0px;
margin: 0px
} */