<div class="pt-5" style="background-color:#71797E" >
  <div>
    <button class="ui drakgrey button" type="button" (click)="backClicked()">
      <i class="arrow left icon"></i>
      Back
    </button>
    <button class="ui drakgrey button" (click)="reset()">
      <i class="recycle icon"></i> Reset
    </button>
  </div>

  <form onsubmit="return false;" class="ui small inline form mt-2" #form='ngForm'>
    <h4 class="ui white dividing header">Select filter for reporting</h4>
    <div class="equal width fields">
      <div class="field ">
        <label class="ui white dividing header">  Area</label> 
        <sui-select placeholder="Company Name" class="selection"  name="companyname" [(ngModel)]="companyname" (ngModelChange)="get()" aria-readonly="true"  [isDisabled]="hide">
          <sui-select-option *ngFor="let op of companies" [value]="op"></sui-select-option>
        </sui-select>
      </div>
      <!-- <div class="field">
        <label class="ui white dividing header">Department</label>
        <sui-select placeholder="." class="selection" name="department" [(ngModel)]="department" [isSearchable]="true"
          [options]="departments" labelField="DeptEngNm" valueField="DEPARTMENT_ID" #selectDept >
          <sui-select-option *ngFor="let op of selectDept.filteredOptions" [value]="op"></sui-select-option>
        </sui-select>
      </div> -->
      <!-- <div class="field" hidden="true">
        <label class="ui white dividing header">Sections</label>
        <sui-select placeholder="." class="selection" name="section" [(ngModel)]="section" [options]="sections"
          labelField="SecEngNm" valueField="SECTION_ID" #selectSection (ngModelChange)="get()">
          <sui-select-option *ngFor="let op of selectSection.filteredOptions" [value]="op"></sui-select-option>
        </sui-select>
      </div> -->
      <!-- <div class="field">
        <label class="ui white dividing header">Shift</label>
        <sui-select placeholder="." class="selection" name="shifts" [(ngModel)]="shift" [options]="shifts"
          labelField="SHIFT_NAME_ENG" valueField="SHIFT_ID" #selectshift (ngModelChange)="get()">
          <sui-select-option *ngFor="let op of selectshift.filteredOptions" [value]="op"></sui-select-option>
        </sui-select>
      </div> -->
      <div class="field" hidden="true">
        <label class="ui white dividing header">Work Limit</label>
        <input type="number" name="workHour" [(ngModel)]="hours">
      </div>

    </div>
    <div class="equal width fields" >
      <div class="field" hidden="true">
        <label class="ui white dividing header">Employee Type</label>
        <sui-select placeholder="." class="selection" name="employeetypename" [(ngModel)]="empType"
          [options]="employeeTypes" labelField="type" valueField="value" #selectEmployeeType (ngModelChange)="get()">
          <sui-select-option *ngFor="let op of selectEmployeeType.filteredOptions" [value]="op"></sui-select-option>
        </sui-select>
      </div>

      <div class="field">
        <label class="ui white dividing header">WASA ID</label>
        <input type="text" [(ngModel)]="cardNo" name="cardNo" autocomplete="off" >
      </div>
      <div class="field">
        <label class="ui white dividing header">From</label>
        <input suiDatepicker type="date" pickerMode="date" [(ngModel)]="fromDate" name="fromDateName" autocomplete="off" >
      </div>
      <div class="field">
        <label class="ui white dividing header">To</label>
        <input suiDatepicker type="date" pickerMode="date" [(ngModel)]="toDate" name="toDate" autocomplete="off">
      </div>
    </div>
    <div class="equal width fields">
      <div class="mr-1 ml-1">
        <label>&nbsp;</label>
       
        <button type="button" class="ui drakgrey button" (click)="get()">
          <i class="search icon"></i>
          Search </button>
        

      </div>
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="excelGenerate()">
          <i class="book icon"></i>
          Download Attendance</button>
      </div> -->
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="pdf('attendanceReport')">
          <i class="clock icon"></i>
          Attendance preview</button>
      </div> -->
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="jobcard()">
          <i class="history icon"></i>
          Job Card</button>
        <div class="ml-1">
          <label>&nbsp;</label>
          <button type="button" class="ui drakgrey button" (click)="absenceReport()">
            <i class="find icon"></i>
            Absent list</button>
        </div>
        <div class="ml-1">
          <label>&nbsp;</label>
          <button type="button" class="ui drakgrey button" (click)="excelAbsentLeave()">
            <i class="find icon"></i>
            Download Absent list</button>
        </div>
     
     
      </div>
      
    <div class="equal width fields">
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui inverted teal button" [routerLink]="['/hrm/calender2']">Attendance Process</button>
      </div> -->
      <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="summeryPDF2()">
          <i class="stop icon"></i>
          Monthly Attendance Summery</button>
      </div>
      <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="summeryExcel2()">
          <i class="book icon"></i>
          Download Monthly Attendance Summery </button>
      </div>
      <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="punchMissing()">
          <i class="info icon"></i>
          Out Time Missing </button>
      </div>
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="workHour()">
          <i class="hourglass icon"></i>
          Early Out</button>
      </div> -->
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui drakgrey button" (click)="movementReport()">
          <i class="history icon"></i>
           Movement</button>
      </div> -->
     
      <!-- <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui inverted blue button" (click)="jobcard()">Buyer Job Card</button>
      </div> -->
    </div>
  </form>

  <table class="ui mini very compact stackable teal table" >
    <thead>
      <tr>
        <th >SL</th>
        <th>Division</th>
        <!-- <th >Department Name</th> -->
        <!-- <th>Section</th> -->
        <th >WASA ID</th>
        <th >Photo</th>
        <th >Employee Name</th>
        <th >Designation</th>
        <th >Date</th>
        <th >In Time</th>
        <th >Out Time </th>
        <th >Assign Shift</th>
        <th >Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of attendenceReportData; let i = index">
        <td >{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>
        <td >{{s?.CompanyName}}</td>
        <!-- <td >{{s?.Dep_Name}}</td> -->
        <!-- <td>{{s?.Section}}</td> -->
        <td >{{s?.EMP_CARD_NO}}</td>
        <td><img src="assets/employees/{{s?.EMP_CARD_NO}}.jpg"  alt="" height="70px" width="70px" style="border-radius: 50%;border:3px solid rgb(243, 17, 17)" ></td>
        <td >{{s?.FirstName}}</td>
        <td >{{s?.Designation}}</td>
        <td >{{s.IN_OUT_DATE.substring(0, 10)}} </td>
        <td >{{s?.InTime}}</td>
        <td >{{s?.OutTime}}</td>
        <td >{{s?.AssignedShit}}</td>
        <td >{{s?.AttendStatus}}</td>
      </tr>
    </tbody>
  </table>
  <sui-pagination [collectionSize]="meta.totalItemCount" [pageSize]="meta.itemsPerPage" [hasNavigationLinks]="true"
    [hasBoundaryLinks]="true" [hasEllipses]="true" [maxSize]="5" [canRotate]="true" [(page)]="meta.currentPage"
    (pageChange)="pageChange()">
  </sui-pagination>
</div>