
<div class="pt-5">
  <div >
      <button class="ui teal tiny button" [ngClass]="{'teal':collapse,'red':!collapse}" (click)="collapse = !collapse;" *ngIf="addNewSample">
        <span *ngIf="collapse"> <i class="add icon"></i>Create Woven Sample  </span>
        <span *ngIf="!collapse"><i class="arrow up icon "></i>Click To Close Form</span>

      </button>
      <button class="ui primary tiny button my-1"  (click)="get()">
        <i class="refresh icon"></i> Refresh
      </button>
      <button class="ui tiny green dropdown button" suiPopup [popupTemplate]="popupExcel" popupTrigger="outsideClick" popupPlacement="bottom">
        <i class="file excel icon"></i>
        <div class="text">Download Excel / Csv</div>
        <strong> <i class="download icon"></i></strong>
      </button>
      <button  class="ui tiny red dropdown button" suiPopup [popupTemplate]="popupPDF" popupTrigger="outsideClick" popupPlacement="bottom">
        <i class="file pdf icon"></i>
        <div class="text">Download PDF</div>
        <strong>  <i class="download icon"></i></strong>
      </button>
      <button class="ui tiny left orange labeled icon button" (click)="backClicked()">
        <i class="left arrow icon"></i>
        Go Back
      </button>
      <button class="ui tiny right floated green dropdown button" [ngClass]="{'orange':!showSearchForm}" (click)="showSearchForm = !showSearchForm;">
        <i class="search icon"></i>
        <div class="text mr-1">Search</div>
        <!--<i class="dropdown icon"></i>-->
        <span *ngIf="!showSearchForm"> <i class="arrow right icon"></i></span>
        <span *ngIf="showSearchForm"><i class="arrow down icon "></i></span>
      </button>
    </div>
  <ng-template let-popup #popupExcel >
    <sui-message class="warning tiny mb-2" *ngIf="this.selectedSamples.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1" [disabled]="this.selectedSamples.length <=0" (click)="exportCsv()"><strong><i class="download icon"></i></strong> Excel Selected Data</button>
    <button class="ui tiny light-grey button m-1" [disabled]="this.selectedSamples.length <=0" (click)="exporttoCsv()"><strong><i class="download icon"></i></strong> Csv Selected Data</button>

    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label> From Date</label>
          <input placeholder="Order Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="fromDate" name="deliveryDate" autocomplete="off">
        </div>
        <div class="field">
          <label> To Date</label>
          <input placeholder="Order Date" suiDatepicker type="date" pickerMode="date"  [(ngModel)]="toDate" name="deliveryDate" autocomplete="off">
        </div>
      </div>
    </div>
    <button class="ui tiny green button m-1" [disabled]="!fromDate || !toDate" (click)="generateReport()"><strong><i class="download icon"></i></strong> Excel</button>
<!--    <button class="ui tiny light-grey button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoCsv(true)"><strong><i class="download icon"></i></strong> Csv</button>-->

  </ng-template>
  <ng-template let-popup #popupPDF >
    <sui-message class="warning tiny mb-2" *ngIf="this.selectedSamples.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1" [disabled]="this.selectedSamples.length <=0"  (click)="exportToPDF()"><strong><i class="download icon"></i></strong>PDF Selected Data</button>
    <button class="ui tiny blue button m-1"  [disabled]="this.selectedSamples.length <=0" (click)="printOpen()"><strong><i class="print icon"></i> </strong>   Print Selected Data</button>
    <!--<button class="ui tiny teal button m-1" (click)="openPrint()"> <strong><i class="print icon"></i></strong> Direct Print</button>-->
    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label>From Page</label>
          <input type="number" [(ngModel)]="fromPage" name="fromPage">
        </div>
        <div class="field">
          <label>To Page</label>
          <input  type="number" [(ngModel)]="toPage" name="toPage">
        </div>
      </div>
    </div>
    <button class="ui tiny red button m-1" [disabled]="!fromPage || !toPage" (click)="exportToPDF(true)"><strong><i class="arrow down icon"></i></strong> PDF</button>
    <button class="ui tiny blue button m-1" [disabled]="!fromPage || !toPage" (click)="printOpen(true)"><strong><i class="print icon"></i> </strong> Print</button>
  </ng-template>
  <form onsubmit="return false;" class="ui small inline form mt-2 cardmy2" #form='ngForm' *ngIf="showSearchForm">
    <h4 class="ui teal dividing header">
      Search Woven Sample
    </h4>
    <div class="equal width fields">
      <div class="field">
        <label>Brand Name</label>
        <sui-select class="selection" name="brandname" placeholder=" "
                    id="brandname"
                    [(ngModel)]="sample.brandid"
                    [options]="brands"
                    (input)="optionsLookupBrand($event.target.value)"
                    labelField="brandname"
                    valueField="brandid"
                    [isSearchable]="true"
                    #SelectBrands>
          <sui-select-option *ngFor="let option of SelectBrands.filteredOptions"
                             [value]="option"></sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label>Sub Category</label>
        <sui-select class="selection" name="ProductSubCategory" placeholder="Select Sub Category"
                    [(ngModel)]="sample.productsubcategoryid"
                    [options]="productSubCategories"
                    labelField="productsubcategoryname"
                    valueField="productsubcategoryid"
                    [isSearchable]="true"
                    #multiSelectproductsubcategory>
          <sui-select-option *ngFor="let option of multiSelectproductsubcategory.filteredOptions"
                             [value]="option"></sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label>Client</label>
        <sui-select class="selection" name="Client" placeholder=" "
                    [(ngModel)]="sample.clientid"
                    [options]="clients"
                    (input)="optionsLookupClient($event.target.value)"
                    labelField="clientname"
                    valueField="clientid"
                    [isSearchable]="true"
                    #multiSelectClients>
          <sui-select-option *ngFor="let option of multiSelectClients.filteredOptions"
                             [value]="option"></sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label>Status</label>
        <sui-select class="selection" name="SampleStatus" placeholder=" "
                    [(ngModel)]="sample.genspcStatus"
                    [options]="statuses"
                    labelField="statusdescription"
                    valueField="id"
                    #multiSelectSampleStatus>
          <sui-select-option *ngFor="let option of multiSelectSampleStatus.filteredOptions"
                             [value]="option"></sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label>Sample Name</label>
        <input type="text" [(ngModel)]="sample.customersamplename"  id="sample_name" name="sample_name" autofocus placeholder="Sample Name"/>
      </div>
      <div class="field">
        <label>Sample No.</label>
        <input  type="text" [(ngModel)]="sample.sampleno"   id="sample_no" name="sample_no" autofocus placeholder="Sample No."/>
      </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label>Order From Date</label>
        <input placeholder="Order Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="fromDate" name="deliveryDate" autocomplete="off">
      </div>
      <div class="field">
        <label>Order To Date</label>
        <input placeholder="Order Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="toDate" name="deliveryDate" autocomplete="off">
      </div>

      <div class="one wide field mr-1">
        <label>&nbsp;</label>
        <button type="button" class="ui teal small button " [disabled]="!sample.brandid && !sample.productcategoryid &&  !sample.productsubcategoryid
                 &&  !sample.clientid &&  !sample.customersamplename &&  !sample.sampleno &&  !sample.genspcStatus && (!fromDate || !toDate)" (click)="get(true)" (click)="collapse = true;">
          Search
        </button>
      </div>
      <div class="one wide field ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui small red button" (click)="form.resetForm();get()">
          Reset
        </button>
      </div>
    </div>
  </form>
  <h3 class="ui blue horizontal divider header" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    Add Woven Sample
  </h3>
  <h3 class="ui blue horizontal divider header" *ngIf="this.currentRoute?.toString()?.includes('edit')">
    Update Woven Sample
  </h3>
  <div [suiCollapse]="collapse">
    <div class="mt-2">
      <app-add-sample (added)="getItemCount()" ></app-add-sample>
    </div>
  </div>
  <button class="ui tiny green dropdown button" suiPopup [popupTemplate]="popupExcel" popupTrigger="outsideClick" popupPlacement="bottom">
    <i class="file excel icon"></i>
    <div class="text">Download Excel / Csv</div>
    <strong> <i class="download icon"></i></strong>
  </button>
  <button  class="ui tiny red dropdown button" suiPopup [popupTemplate]="popupPDF" popupTrigger="outsideClick" popupPlacement="bottom">
    <i class="file pdf icon"></i>
    <div class="text">Download PDF</div>
    <strong>  <i class="download icon"></i></strong>
  </button>
  <div class="ui fluid container" style="margin-top: 30px;" *ngIf="sampleColorData">
    <h3 style="color: forestgreen;" *ngIf="sampleColorData.length">Woven Color Details</h3>
    <table style="margin-bottom: 5px;width: 100%;border-collapse: collapse;" *ngIf="sampleColorData.length">
      <tr>
        <th style="border: 1px solid black;padding: 5px"  >Background Color</th>
        <th style="border: 1px solid black;padding: 5px" >Print Color</th>
      </tr>
      <tr *ngFor="let color of sampleColorData">
        <td style="border: 1px solid black;padding: 5px" >{{color?.samplecolorname}}</td>
        <td style="border: 1px solid black;padding: 5px" >{{color?.printcolor}}</td>
      </tr>
    </table>
    <p *ngIf="!sampleColorData.length" style="color: orangered">Sample Color is not available</p>

    <!-- <span >{{sample}},</span> -->
  </div>
  <table class="ui mini very compact unstackable blue table">
      <thead>
      <tr>
        <th>
          <sui-checkbox  class="middle aligned" name="foreign" [(ngModel)]="selectAllSamples" (ngModelChange)="selectAll()"></sui-checkbox>
        </th>
        <th>S.No</th>
        <th class="single line">
          Actions
        </th>
        <th>Sample No</th>
        <th>Sample Name</th>
<!--        <th>Customer Sample Name</th>-->
        <th>Brand Name</th>
        <th>Product Sub Category</th>
        <th>Client</th>
        <th>Order Date</th>
        <th>Estimate Delivery Date</th>
        <th>Length</th>
        <th>Width</th>
        <th>Status</th>
<!--        <th>Background Color</th>-->
<!--        <th>Text Color</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of samples; let i = index">
        <td><sui-checkbox  class="mt-2" [(ngModel)]="s.selected" name="{{i}}" (click)="selectSamples(s,i)"></sui-checkbox>
        </td>
        <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>
        <td class="single line">
<!--          <i class="trash link red icon" (click)="delete(s?.sampleid)" ></i>-->
          <a class="ui blue tiny label" [routerLink]="['/woven/samples/edit',s?.sampleid]" *ngIf="editSample"><i class="edit white icon"></i> Edit </a>
          <a class="ui blue tiny label" (click)="viewDetail(s?.sampleid)"><i class="eye link white icon"></i> View </a>
<!--          <i class="edit link blue icon" [routerLink]="['/woven/samples/edit',s?.sampleid]"></i><strong class="link pointer blue icon"  [routerLink]="['/woven/samples/edit',s?.sampleid]" >Edit</strong>-->
<!--          <i class="eye link teal icon"  (click)="viewDetail(s?.sampleid)"></i><strong class="link pointer blue icon" (click)="viewDetail(s?.sampleid)" >Preview</strong>-->
        </td>
        <td class="pointer"  style="" (click)="getSamplecolor(s.sampleid)">{{s?.sampleno}}</td>
        <td >{{s?.samplename}}</td>
<!--        <td>{{s?.customersamplename}}</td>-->
        <td>{{s?.brand?.brandname}}</td>
        <td>{{s?.productSubCategory?.productsubcategoryname}}</td>
        <td>{{s?.client?.clientname}}</td>
        <td>{{s?.orderdate | date}}</td>
        <td>{{s?.estdeliverydate | date}}</td>
        <td>{{s?.length}}</td>
        <td>{{s?.width}}</td>
        <td>{{s?.status?.statusdescription}}</td>
      </tr>
      </tbody>
    </table>
  <sui-pagination [collectionSize]="meta.totalItemCount"
                  [pageSize]="meta.itemsPerPage"
                  [hasNavigationLinks]="true"
                  [hasBoundaryLinks]="true"
                  [hasEllipses]="true"
                  [maxSize]="5"
                  [canRotate]="true"
                  [(page)]="meta.currentPage"
                  (pageChange)="get()">
  </sui-pagination>
  <div class="ui action input ml-2">
    <input [(ngModel)]="goToPage" [min]="1" name="selectedPage" placeholder="" type="number">
    <button type="button" (click)="goToPageNo()"  [disabled]="!goToPage || goToPage==meta.currentPage || goToPage>meta.totalPageCount || goToPage<1" class="ui button">Go to Page
    </button>
  </div>
</div>
