<!-- dfggfdgfdgdgdgdgd -->
<div class="ui container pt-5">
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" [routerLink]="['/woven/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Woven Sample</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482848.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Woven Sample
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/woven-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Woven Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/harp.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Woven Technical Details
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/offset/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Offset Sample</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482826.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Offset Sample
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/offset-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Offset Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/cassette.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Offset Technical Details
        </div>
      </div>
    </a>


    <a class="card raised cardmy2" [routerLink]="['/pfl/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">PFL Sample</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/maracas.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View PFL Sample
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/pfl-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">PFL Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/notes.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update PFL Technical Details
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/thermal/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Thermal Sample</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482820.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Thermal Sample
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/thermal-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Thermal Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/peas.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Thermal Technical Details
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/heat-transfer/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Heat Transfer Sample</h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/burner.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Heat-Transfer Sample
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/heat-transfer-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Heat-Transfer Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/physics.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Heat-Transfer Technical Details
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/screen-print/samples']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Screen Print Sample </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/2482808.png" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View Screen Print Sample
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/screen-print-technical-details']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Screen-Print Technical Details </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/tools.svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create , View and Update Screen-Print Technical Details
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/sample-tracking']">
      <!--      <a class="ui orange tag label">Under Development</a>-->
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h2 class="ml-3">Sample Tracking </h2>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/test-tube (1).svg" style="height: 65px; width: 65px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Track Samples
        </div>
      </div>
    </a>

  </div>
</div>
