<div class="field">
  <h4 class="ui header m-0">&nbsp; Sub Brand ID &nbsp; : &nbsp; <span style="color: #f2711c">{{program?.programid}}</span></h4>
  <div class="ui divider"></div>
  <div class="ui one column grid ">
    <div class="row">
      <table class="column">
        <tr>
          <td class=""><strong>Sub Brand Name</strong></td><td > : </td><td>&nbsp;&nbsp;{{program?.programname}}  </td>
        </tr>
        <tr>
          <td class=""><strong>Brand Name </strong></td><td > : </td><td>&nbsp;&nbsp;{{program?.brand?.brandname}} </td>
        </tr>
        <tr>
          <td class=""><strong>Status</strong></td><td > : </td><td>&nbsp;&nbsp;{{program?.status}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>
