<div class="mb-5 pt-5">
  <div>
    <button class="ui tiny orange button" type="button" (click)="backClicked()">
      <i class="arrow left icon"></i>
      Back
    </button>
    <button class="ui red tiny button my-1" (click)="reset()">
      <i class="recycle icon"></i> Reset
    </button>
  </div>
  <div class="mt-2">
    <app-addholidaysetup (added)="get()"></app-addholidaysetup>
  </div>
  <form onsubmit="return false;" class="ui small form" #form='ngForm' autocomplete="on" (keydown.enter)="$event.preventDefault()">
    <div class="ui segment mt-5" [ngStyle]="{'background-color':'#71797E'}">
      <h3 class="ui teal dividing header">
        Search Holiday
      </h3>
      <div class="equal width fields">
        <div class="field required">
          <label>Holidays</label>
          <input required type="text" id="holidays" name="holidays" placeholder="Holidays" [(ngModel)]="Name" />
        </div>
        <div class="field required">
          <label>Holiday Date</label>
          <input suiDatepicker pickerMode="date" name="holidayDate" [(ngModel)]="SerachText">
        </div>
      </div>
      <button class="ui purple tiny button my-1" (click)="search()">
        Search
      </button>
    </div>
  </form>
  <table class="ui very compact unstackable teal table" *ngIf="datas">
    <thead>
      <tr>
        <th>SL</th>
        <!-- <th>Actions</th> -->
        <th>Holiday Date</th>
        <th>Holiday Month</th>
        <th>Holiday Name</th>
        <th>Description</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas; let i = index">
        <td>{{i+1}} </td>
        <!-- <td class="single line">
          <i class="edit link blue icon"></i>
        </td> -->
        <td>
          {{data?.HOLIDAY_DATE.substring(0, 10) }}
        </td>
        <td>
          {{data?.HOLIDAY_MONTH}}
        </td>
        <td>{{data?.HOLIDAY_DAY_NAME}}</td>
        <td>{{data?.DESCRIPTION}}</td>
        <td>{{data?.CREATE_DATE.substring(0, 10)}}</td>
      </tr>
    </tbody>
  </table>
 <!-- <table class="ui very compact unstackable teal table">
    <thead>
      <tr>
        <th>SL</th>
        <th>Actions</th>
        <th>Holiday Date</th>
        <th>Holiday Month</th>
        <th>Holiday Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holiday of holidayData; let i = index">
        <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>
        <td class="single line">
          <i class="edit link blue icon"></i>
        </td>
        <td>
          {{holiday?.HOLIDAY_DATE.substring(0, 10) }}
        </td>
        <td>
          {{holiday?.HOLIDAY_MONTH}}
        </td>
        <td>{{holiday?.HOLIDAY_DAY_NAME}}</td>
        <td>{{holiday?.DESCRIPTION}}</td>
      </tr>
    </tbody>
  </table>
   <sui-pagination [collectionSize]="meta.totalItemCount" [pageSize]="meta.itemsPerPage" [hasNavigationLinks]="true"
    [hasBoundaryLinks]="true" [hasEllipses]="true" [maxSize]="5" [canRotate]="true" [(page)]="meta.currentPage"
    (pageChange)="pageChange()">
  </sui-pagination>
  <div class="ui action input ml-2">
    <input [(ngModel)]="goToPage" [min]="1" name="selectedPage" placeholder="" type="number">
    <button (click)="goToPageNo()" [disabled]="goToPage>meta.totalPageCount || goToPage<1" class="ui button">Go to Page
    </button>
  </div> -->
</div>