<div class="ui container pt-5">
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" routerLink="status1">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Not Delivered</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/masterchallan.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" routerLink="status2">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3"> Delivered</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/masterchallan.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" routerLink="receipt">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3"> Receipt</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/masterchallan.png" style="height: 80.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
        </div>
      </div>
    </a>

  </div>
</div>
