<div class="mb-5 pt-5">
  <button class="ui tiny orange button" type="button" (click)="backClicked()" >
    <strong><i class="angle left icon"></i></strong>
    Back
  </button>
  <button class="ui teal tiny button" [ngClass]="{'teal':collapse,'red':!collapse}" (click)="collapse = !collapse;"*ngIf="!this.currentRoute?.toString()?.includes('edit') && addNew">
    <span *ngIf="collapse"> <i class="add icon"></i>Create Supplier</span>
    <span *ngIf="!collapse"><i class="arrow up icon "></i>Done</span>
  </button>
  <button class="ui primary tiny button" (click)="get()" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <i class="refresh icon"></i>
    Refresh
  </button>
  <button class="ui tiny green dropdown button" suiPopup [popupTemplate]="popupExcel" popupTrigger="outsideClick" popupPlacement="bottom" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <i class="file excel icon"></i>
    <div class="text">Download Excel / Csv</div>
    <i class="dropdown icon"></i>
  </button>
  <button class="ui tiny red dropdown button" suiPopup [popupTemplate]="popupPDF" popupTrigger="outsideClick" popupPlacement="bottom" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    <i class="file pdf icon"></i>
    <div class="text">Download PDF</div>
    <i class="dropdown icon"></i>
  </button>

  <ng-template let-popup #popupExcel >
     <sui-message class="warning tiny mb-2" *ngIf="this.selectedSuppliers.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1" [disabled]="this.selectedSuppliers.length <=0"  (click)="exporttoExcel()"><strong><i class="arrow down icon"></i></strong>Excel Selected Data</button>
    <button class="ui tiny light-grey button m-1" [disabled]="this.selectedSuppliers.length <=0"  (click)="exporttoCsv()"><strong><i class="arrow down icon"></i></strong>Csv Selected Data</button>
    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label>From Page</label>
          <input type="number" [(ngModel)]="fromPage" name="fromPage">
        </div>

        <div class="field">
          <label>To Page</label>
          <input  type="number" [(ngModel)]="toPage" name="toPage">
        </div>
      </div>
    </div>
    <button class="ui tiny green button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoExcel(true)"><strong><i class="arrow down icon"></i></strong>Excel</button>
    <button class="ui tiny light-grey button m-1" [disabled]="!fromPage || !toPage" (click)="exporttoCsv(true)"><strong><i class="arrow down icon"></i></strong>Csv</button>
  </ng-template>
  <ng-template let-popup #popupPDF >
     <sui-message class="warning tiny mb-2" *ngIf="this.selectedSuppliers.length <=0">
      <li>
        Please select data in the table
      </li>
    </sui-message>
    <button class="ui tiny brown button m-1"  [disabled]="this.selectedSuppliers.length <=0" (click)="exportToPDF()"><strong><i class="arrow down icon"></i></strong>PDF Selected Data</button>
    <button class="ui tiny blue button m-1"  [disabled]="this.selectedSuppliers.length <=0" (click)="printOpen()"><strong><i class="print icon"></i> </strong>   Print Selected Data</button>
    <!--<button class="ui tiny teal button m-1" (click)="openPrint()"> <strong><i class="print icon"></i></strong> Direct Print</button>-->
    <div class="ui divider"></div>
    <div class="ui form p-1">
      <div class="two fields">
        <div class="field">
          <label>From Page</label>
          <input type="number" [(ngModel)]="fromPage" name="fromPage">
        </div>
        <div class="field">
          <label>To Page</label>
          <input  type="number" [(ngModel)]="toPage" name="toPage">
        </div>
      </div>
    </div>
    <button class="ui tiny red button m-1" [disabled]="!fromPage || !toPage" (click)="exportToPDF(true)"><strong><i class="arrow down icon"></i></strong> PDF</button>
    <button class="ui tiny blue button m-1" [disabled]="!fromPage || !toPage" (click)="printOpen(true)"><strong><i class="print icon"></i> </strong> Print</button>
  </ng-template>
  <div [suiCollapse]="collapse">
    <div class="mt-2">
      <app-add-supplier (added)="getItemCount()"></app-add-supplier>
    </div>
  </div>
  <table class="ui very compact unstackable teal table">
    <thead>
    <tr>
      <th>
        <sui-checkbox  class="middle aligned" name="foreign" [(ngModel)]="selectAllSupplier" (ngModelChange)="selectAll()"></sui-checkbox>
      </th>
      <th>S.No</th>
      <th>Action</th>
      <th>Name</th>
      <th>Contact Person</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Foreign</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sup of suppliers; let i = index">
      <td><sui-checkbox  class="mt-2" [(ngModel)]="sup.selected" name="{{i}}" (click)="selectSuppliers(sup,i)"></sui-checkbox>
      </td>
      <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>

      <!--<td class="pointer" (click)="view(sup.supplierid)" ><i class="trash red icon"></i></td>-->
      <td class="single line">
<!--        <i class="trash link red icon px-1" (click)="delete(sup.supplierid)"></i>-->
        <i class="edit link blue icon px-1" *ngIf="editExisting" [routerLink]="['/suppliers/edit/',sup?.supplierid]"></i>
      </td>
      <td>{{sup.suppliername }}</td>
      <td>{{ sup.contactperson}}</td>
      <td>{{sup.telephone}}</td>
      <td>{{sup.email}}</td>
      <td>{{sup.address}}</td>
      <td>
        <i *ngIf="sup.isforeign" class="ui green check icon"></i>
        <i *ngIf="!sup.isforeign" class="ui red x icon"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <sui-pagination [collectionSize]="meta.totalItemCount"
                  [pageSize]="meta.itemsPerPage"
                  [hasNavigationLinks]="true"
                  [hasBoundaryLinks]="true"
                  [hasEllipses]="true"
                  [maxSize]="5"
                  [canRotate]="true"
                  [(page)]="meta.currentPage"
                  (pageChange)="get()">
  </sui-pagination>
  <div class="ui action input ml-2">
    <input [(ngModel)]="goToPage" [min]="1" name="selectedPage" placeholder="" type="number">
    <button (click)="goToPageNo()"  [disabled]="goToPage>meta.totalPageCount || goToPage<1" class="ui button">Go to Page
    </button>
  </div>
</div>
