.absent {
    color: red;
}

.present {
    color: green;
}

.manual {
    background-color:rgb(250, 237, 196);
}

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  } */
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #aaa5a5db;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #aaa5a5db transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .clickable {
    color:blue; 
    cursor: pointer;
  }
