<div class="ui container mt-2">
  <div class="ui link divided stackable three cards">
    <a class="card raised cardmy2" [routerLink]="['/planning/pfl-dashboard']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">PFL Planning</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/PFL.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Pfl planning process step by step
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/planning/pfl-product-status-dashboard']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">PFL Product Status Dashboard</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/woven.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          VIew and Export Product Status
        </div>
      </div>
    </a><a class="card raised cardmy2" [routerLink]="['/planning/pfl-jobcard-approval']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">PFL JobCard Approval</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/woven.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          VIew and Export Product Status
        </div>
      </div>
    </a>
  </div>
</div>


