<sui-message class="warning mb-2 pt-5" >
  <strong>Note : </strong>
  <li>To add Machine And Operator click On Workorder No. in table</li>
</sui-message>
<h4 class="ui teal dividing header mt-1" style="text-align: center;">
  PFL CUTTING
</h4>
<div class="mb-5">
  <button class="ui tiny orange button" type="button" (click)="this.api.backClicked()">
    <i class="arrow left icon"></i>
    Back
  </button>
  <button class="ui tiny right floated green dropdown button" [ngClass]="{'teal':!showSearchForm}" (click)="showSearchForm = !showSearchForm;">
    <i class="search icon"></i>
    <div class="text mr-1">Search</div>
    <!--<i class="dropdown icon"></i>-->
    <span *ngIf="!showSearchForm"> <i class="arrow right icon"></i></span>
    <span *ngIf="showSearchForm"><i class="arrow down icon "></i></span>
  </button>
  <form #form='ngForm' class="ui small mt-2 inline form" *ngIf="showSearchForm">
    <h4 class="ui teal dividing header">
      Search PFL Cutting Information
    </h4>
    <div class="equal width fields">
      <div class="field">
        <label>Work Order Number :</label>
        <input placeholder="work order no"  type="text" [(ngModel)]="cutting.procuttingorderid" name="work">
      </div>
      <div class="field">
        <label>From Date :</label>
        <input placeholder="From Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="fromDate"
          name="fromDate">
      </div>
      <div class="field">
        <label>To Date :</label>
        <input placeholder="To Date" suiDatepicker type="date" pickerMode="date" [(ngModel)]="toDate" name="toDate">
      </div>
    </div>
    <div class="equal width fields" style="float: right !important;">
      <div class="ml-1">
        <label>&nbsp;</label>
        <button type="button" class="ui small teal right button" (click)="searchRecord()">
          <i class="search left icon" ></i>Search</button>
      </div>
      <div class="mr-1">
        <label>&nbsp;</label>
        <button type="button" class="ui small purple button right"
         (click)="form.resetForm();getData()" >Reset</button>
      </div>
    </div>
  </form>
  <div class="ml-1 mt-3">
    <label>&nbsp;</label>
    <!-- <button type="button" class="ui small green button float-left"
      *ngIf="this.selectedCards.length >= 1 && this.selectedCards" (click)="completeData()">Completed</button> -->
  </div>
</div>
  <div class="overflow-x-scroll mt-2 mb-2">
  <table class=" ui very compact unstackable teal table">
    <thead style="text-align: center;">
      <tr>
        <th>
          <sui-checkbox class="middle aligned" name="foreign" >
          </sui-checkbox>
        </th>
        <th>S.No</th>
        <th>Action</th>
        <th>Work Order No</th>
        <th>Delivery Date</th>
        <th>Party Name</th>
        <th>Item Name</th>
        <th>Part</th>
        <th>Color</th>
        <th>Plan Qty</th>
        <th>Cutting Qty</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jc of dataList; let i= index">
        <td>
          <sui-checkbox class="mt-2"  [(ngModel)]="jc.selected" name="{{i}}" (click)="selectCards(jc,i)"></sui-checkbox>
        </td>
        <td>{{i+1+(meta.currentPage - 1) * meta.itemsPerPage}} </td>

        <td class="text-center single line">
<!--          <button class="ui tiny red label mr-2 ml-2" type="button" *ngIf="jc?.Cat_Status == 0 && jc?.Cat_Status == 9" (click)="jobReceive()"><strong>Job Receive</strong></button>-->
          <button class="ui tiny orange label" *ngIf="jc?.Cat_Status == 9 && !jc?.machinestatus?.length"><strong style="color: black">
            Pending for Cutting </strong></button>
          <button class="ui tiny yellow label" id="machine" *ngIf="!jc.hides == true"><strong style="color: black">
            Cutting Running </strong></button>

         | <i class="trash link red icon ml-2 tips" (click)="deleteRecord(jc.Cat_Id, jc.Pri_Id)">
           <span class="deletetext">Delete</span>
         </i>
          <button class="ui tiny blue label"  [routerLink]="['/planning/pfl-cutting-update',jc?.MasterId]"><strong style="color: black">
            Update Production Qty </strong></button>
     </td>
      <td> <a class="pointer link"  [routerLink]="['/planning/pfl-cutting-machine',jc?.MasterId]" >{{jc?.WorkOrderNo}}</a></td>
        <td>{{jc?.EstDeliverDate}}</td>
        <td>{{jc?.ClientName}}</td>
        <td>{{jc?.SampleName}}</td>
        <td>{{jc?.PartNo}}</td>
        <td>{{jc?.SampleColorName}}</td>
        <td>{{jc?.Cat_Job_Qty}}</td>
        <td>
          <div class="ui action input">
          <input type="text" name="cutting-qty"  [(ngModel)]="jc.Curringqty" disabled>
        </div>
        </td>
        <td>
          <div class="ui action input">
          <input type="text" name="comments">
        </div>
        </td> 
      </tr>
    </tbody>
  </table>
  </div>
<sui-pagination [collectionSize]="meta.totalItemCount" [pageSize]="meta.itemsPerPage" [hasNavigationLinks]="true"
                [hasBoundaryLinks]="true" [hasEllipses]="true" [maxSize]="5" [canRotate]="true" [(page)]="meta.currentPage"
                (pageChange)="pageChange()">
</sui-pagination>
