
<form onsubmit="return false;" class="ui small form" #form='ngForm' autocomplete="off" (keydown.enter)="$event.preventDefault()">
  <div class="ui segment mt-2">
    <h4 class="ui teal dividing header">
      <br>
      Add New Sample Color
    </h4>
    <sui-message class="warning mb-2 mt-2" *ngIf="!color.sampleid && !color.samplecolorname">
      <li>
        <strong>Note : </strong>  Fields marked with asterisk <strong>(*) </strong> are mandatory
      </li>
    </sui-message>
    <div class="equal width fields">
      <div class="field required ">
        <label>Sample Name</label>
        <sui-select
          class="selection" placeholder=" "
          [(ngModel)]="color.sampleid"
          name="samplename"
          (input)="optionsLookupSamples($event.target.value)"
          [options]="samples"
          labelField="samplename"
          valueField="sampleid"
          [isSearchable]="true"
          #selectSampleName>
          <sui-select-option *ngFor="let o of selectSampleName.filteredOptions" [value]="o"></sui-select-option>
        </sui-select>
      </div>

    </div>
    <div class="equal width fields">
      <div class="field required" >
        <label>Sample Color</label>
        <input [(ngModel)]="color.samplecolorname" id="Sample_Color" name="Sample_Color" placeholder="Sample Color" type="text">
      </div>
      <div class="field  ">
        <label>Print Color</label>
        <input [(ngModel)]="color.printcolor" id="print_Color" name="print_Color" placeholder="Print Color" type="text">
      </div>
    </div>
  </div>
  <button class="ui teal medium button my-1" (click)="patch(form)" *ngIf="!this.currentRoute?.toString()?.includes('edit')">
    Save
  </button>
  <button class="ui primary medium button my-1" (click)="UpdateDaTa(form)" *ngIf="this.currentRoute?.toString()?.includes('edit')">
    Update
  </button>
</form>










