.ui.color1.button {
    background-color: #734322;
    color: #fff;
  }

  .ui.color2.button {
    background-color: rgb(146, 144, 5);
    color: #fff;
  }

  .ui.color3.button {
    background-color: rgb(179, 38, 38);
    color: #fff;
  }

  .ui.color4.button {
    background-color: rgb(33, 119, 47);
    color: #fff;
  }

  .ui.color5.button {
    background-color: rgb(14, 43, 66);
    color: #fff;
  }
  