<div class="ui segment small inline form mt-2" style="color: #000000;">
  <!-- <div style="height: 1020px;"> -->
  <table style="border: 1px solid black; border-collapse: collapse;width: 100%; font-size: 12px; " class="display">
    <tr>
      <td colspan="2" style="border-top: 1px solid black;border-left: 1px solid black;text-align: center; padding: 5px;">
        <div style="font-size: 17px; font-weight: bold;"> {{leaveData.empData.DIVISION_NAME_BNG}}</div>
      </td>
      <td style="border-left: 1px solid black; border-right: 1px solid black;text-align: center; padding: 5px;">
        Doc. Code: Doc. Code: HR/03/029
      </td>
    </tr>
    <tr>
      <td colspan="2" style="border: 1px solid black;text-align: center; padding: 5px;">
        Title: Leave Application Form </td>
      <td style="border-left: 1px solid black; border-right: 1px solid black;text-align: center; padding: 5px;">Page 1 of 1</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;text-align: center; padding: 5px;">Effective Date: 01/01/2018
      </td>
      <td style="border: 1px solid black;text-align: center; padding: 5px;">Revision Status: 00</td>
      <td style="border: 1px solid black;text-align: center; padding: 5px;">Issue No: 01</td>
    </tr>
  </table>

  <table style="border-collapse: collapse; width: 100%; font-weight: bold; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 45%; text-align: left; font-size: 12px;">
        বিষয়- ছুটির জন্য আবেদন।
      </td>
      <td style="width: 45%;text-align: right; ">
        তারিখ: {{today}}
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; text-align: center; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="border: 1px solid black; padding: 3px;">
        নাম
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        পদবী
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        আইডি নং
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        সেকশন
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.EMP_NAME_BNG}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.DesigNmBng}}
      </td>
      <td style="border: 1px solid black; ">
        {{leaveData.empData.EMP_CARD_NO}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.DeptBngNm}}
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 40%; text-align: left; ">
        চাকুরীতে যোগদানের তারিখ:
      </td>
      <td style="text-align: left; ">
        {{leaveData.empData.JOINING_DATE}}
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 15%; text-align: left;">
        ছুটির সময়কাল
      </td>
      <td style="width: 20%; text-align: left; border-bottom: 1px solid black;">
      </td>
      <td style="width: 10%; text-align: right; ">
        থেকে
      </td>
      <td style="width: 25%; text-align: left;  border-bottom: 1px solid black;">
      </td>
      <td style="width: 5%; text-align: right; ">
        পর্যন্ত
      </td>
      <td style="width: 10%; text-align: right; ">
        মোট
      </td>
      <td style="width: 15%; text-align: left;  border-bottom: 1px solid black;">
      </td>
      <td style="width: 5%; text-align: left; ">
        দিন।
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 100%; text-align: left; font-weight: bold;">
        ছুটির ধরন: অর্জিত/মেডিক্যাল/নৈমিত্তিক/মার্তৃত্বকালীন।
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 100%; text-align: left; ">
        ছুটি ভোগ করার কারন:
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 85%; text-align: left; ">
        ছুটিতে থাকাকালীন ঠিকানা:
      </td>
      <td style="width: 15%;text-align: right; border-top: 1px solid black;">
        দরখাস্তকারীর স্বাক্ষর
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 10px;">
    <tr>
      <td style="width: 100%; text-align: left; ">
        ফোন নং (যদি থাকে):
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; text-align: center; font-size: 12px; margin-top: 10px;">
    <tr>
      <td colspan="5" style="font-weight: bold; padding-bottom: 10px;">ছুটির বিবরন</td>
    </tr>
    <tr>
      <td style="border: 1px solid black; padding: 3px;">
        বিষয়
      </td>
      <td style="border: 1px solid black;">
        অর্জিত
      </td>
      <td style="border: 1px solid black;">
        মেডিক্যাল
      </td>
      <td style="border: 1px solid black;">
        নৈমিত্তিক
      </td>
      <td style="border: 1px solid black;">
        মার্তৃত্বকালীন
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">
        পাওনা
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.allowed.el}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.allowed.sl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.allowed.cl}}
      </td>
      <td style="border: 1px solid black;">

      </td>
    <tr>
      <td style="border: 1px solid black;">
        ভোগকৃত
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.spent.el}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.spent.sl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.spent.cl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">

      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">
        অবশিষ্ট
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.el}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.sl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.cl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">

      </td>
    </tr>
  </table>

  <table style="width: 100%;text-align: center; font-size: 12px; margin-top: 25px;">
    <tr>
      <td style="width: 23%;border-bottom: 1px solid black;padding: 4px;"></td>
      <td style="width: 23%;border-bottom: 1px solid black;padding: 4px;"></td>
      <td style="width: 23%;border-bottom: 1px solid black;padding: 4px;"></td>
      <td style="width: 23%;border-bottom: 1px solid black;padding: 4px;">এইচ আর</td>
    </tr>
    <tr>
      <td style="padding: 5px">সেকশন ইনচার্জ</td>
      <td>পিএম /এপিএম</td>
      <td>অনুমোদনকারী</td>
      <td>প্রস্তুতকারী</td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; margin-top: 10px;">
    <tr>
      <td style="width: 100%; ">
        .................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

      </td>
    </tr>
  </table>

  <!-- <table style="border-collapse: collapse;width: 100%; font-weight: bold;">
      <tr>
        <td style="text-align: center; ">
          <div> দরখাস্তকারীর অংশ </div>
          <div> মাহিন লেবেল টেক্স লিঃ </div>
        </td>
      </tr>
    </table> -->

  <table style="border-collapse: collapse;width: 100%; font-size: 12px;text-align: center; margin-top: 10px;">
    <tr>
      <td colspan="4" style=" font-weight: bold; padding-bottom: 7px;">
        <div>দরখাস্তকারীর অংশ</div>
        <div>{{leaveData.empData.DIVISION_NAME_BNG}}</div>
        <div>খোর্দ্দঘোষ পাড়া, মিজমিজি, সিদ্দিরগঞ্জ, নারায়ণগঞ্জ ।</div>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black; padding: 3px;">
        নাম
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        পদবী
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        আইডি নং
      </td>
      <td style="border: 1px solid black; padding: 3px;">
        সেকশন
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.EMP_NAME_BNG}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.DesigNmBng}}
      </td>
      <td style="border: 1px solid black; ">
        {{leaveData.empData.EMP_CARD_NO}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 15px;">
        {{leaveData.empData.DeptBngNm}}
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 15px;">
    <tr>
      <td style="width: 14%; text-align: left;">
        ছুটির সময়কাল
      </td>
      <td style="width: 10%; text-align: left;  border-bottom: 1px solid black;">
      </td>
      <td style="width: 5%; text-align: right;">
        থেকে
      </td>
      <td style="width: 14%; text-align: left; border-bottom: 1px solid black;">
      </td>
      <td style="width: 5%; text-align: right; ">
        পর্যন্ত
      </td>
      <td style="width: 5%; text-align: right;">
        মোট
      </td>
      <td style="width: 10%; text-align: left; border-bottom: 1px solid black;">
      </td>
      <td style="width: 42%; text-align: left;">
        অনুমোদন করা হলো/নিম্নোক্ত কারনে অনুমোদন করা হলো না।
      </td>
    </tr>
  </table>

  <table
    style="border-collapse: collapse;width: 100%; font-size: 12px; text-align: center; font-size: 12px; margin-top: 15px;">
    <tr>
      <td colspan="4" style=" font-weight: bold; padding-bottom: 10px;">অবশিষ্ট ছুটি</td>
    </tr>
    <tr>
      <td style="border: 1px solid black; padding: 3px;">
        অর্জিত
      </td>
      <td style="border: 1px solid black;">
        মেডিক্যাল
      </td>
      <td style="border: 1px solid black;">
        নৈমিত্তিক
      </td>
      <td style="border: 1px solid black;">
        মার্তৃত্বকালীন
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.el}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.sl}}
      </td>
      <td style="border: 1px solid black; font-family: SutonnyMJ; font-size: 12px;">
        {{leaveData.remaining.cl}}
      </td>
      <td style="border: 1px solid black;">
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 12px; margin-top: 40px;">
    <tr>
      <td style="width: 70%; text-align: left; ">

      </td>
      <td style="width: 30%;text-align: right;  border-top: 1px solid black;">
        এইচ,আর/এডমিন/ যথাযত কর্তৃপক্ষ
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse;width: 100%; font-size: 8px; margin-top: 15px;">
    <tr>
      <td style="width: 75%; text-align: left; ">
        <!-- Printed from ERP Personnel Information Management System -->
        <!-- , Report Date: 23-05-2020, Time: 1:39:05PM -->

      </td>
      <td style="width: 25%;text-align: right; ">
        <!-- Page 1 of 1 -->
      </td>
    </tr>
  </table>
<!-- </div> -->
</div>