
<div class="ui container pt-5">
  <div class="ui link divided stackable four cards">
    <a class="card raised cardmy2" [routerLink]="['/woven/job-cards']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Woven</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/woven.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  Woven Job Cards
        </div>
      </div>
    </a>

    <a class="card raised cardmy2" [routerLink]="['/pfl/job-cards/5']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Offset</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/offset.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  Offset Job Cards
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/pfl/job-cards/2']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">PFL</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/PFL.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  PFL Job Cards
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/pfl/job-cards/4']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Thermal</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/thermal.jpg" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  Thermal Job Cards
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/pfl/job-cards/3']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Heat Transfer</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/heat.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  Heat Transfer Job Cards
        </div>
      </div>
    </a>
    <a class="card raised cardmy2" [routerLink]="['/pfl/job-cards/6']">
      <div class="ui centered my-3">
        <div class="ui grid w-100">
          <div class="nine wide column">
            <h1 class="ml-3">Screen Print</h1>
          </div>
          <div class="seven wide column">
            <div class="ui image">
              <img src="assets/screen.png" style="height: 88.38px; width: 88.38px">
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned description " style="font-weight: bold; color: rgba(0,0,0,0.76)">
          Create and View  Screen Print Job Cards
        </div>
      </div>
    </a>


  </div>
</div>
